# Python 201 - Session 3: Reshaping and Merging Dataframes

# Five-Week Schedule

#### Session 1: Basic Pandas
- DataFrame, Series
- select, add, drop rows and columns
- read and write dataframes

#### Session 2: Sorting & Grouping Data
- sort_values()
- groupby()
- agg() statistics
- drop_duplicates()

#### Session 3: Shaping & Merging Dataframes
- choosing fields to join on
- types of joins: left join, inner join, outer join
- labeling columns
- Python 101 Skills Test

#### Session 4: Editing Data
- parsing, cleaning, re-typing, coding data
- apply and row-based lambda fxn
- Python 102 Skills Test

#### Session 5: Time Series Exercise
- Python 201 Skills Test

In [1]:
# troubleshooting error: install openpyxl
# pip3 install openpyxl

# Step 1 - open Plans.xlsx

In [2]:
import pandas as pd

In [55]:
plans = pd.read_excel("Plans.xlsx",header=0)

In [56]:
plans.drop(columns = ["Unnamed: 0"],inplace=True)
plans

,RoomType,RoomStats,January,February,March,April,May,June,July,August,September,October,November,December
0,Club Deluxe King Room,Number of rooms,28,28,28,28,28,28,28,28,28,28,28,28
1,Club Deluxe King Room,Sum of Revenue Total,304164,357840,445312,365792,397600,322056,500976,500976,333984,411516,357840,370160
2,Club Deluxe King Room,Sum of Revenue Rooms,214200,252000,313600,257600,280000,226800,352800,352800,235200,289800,252000,260680
3,Club Deluxe King Room,Sum of Revenue Food,64260,75600,94080,77280,84000,68040,105840,105840,70560,86940,75600,78204
4,Club Deluxe King Room,Sum of Revenue Bar,25704,30240,37632,30912,33600,27216,42336,42336,28224,34776,30240,31276
5,Club Deluxe King Room,Average of Occupancy,31,28,31,30,31,30,31,31,30,31,30,31
6,Club Deluxe King Room,Average of ADR,350,456,513,435,458,383,577,577,397,474,426,426
7,Executive Suite,Number of rooms,36,36,36,36,36,36,36,36,36,36,36,36
8,Executive Suite,Sum of Revenue Total,383400,322056,293940,345060,357840,184032,383400,383400,230040,429408,306720,371124
9,Executive Suite,Sum of Revenue Rooms,270000,226800,207000,243000,252000,129600,270000,270000,162000,302400,216000,261360
10,Executive Suite,Sum of Revenue Food,81000,68040,62100,72900,75600,38880,81000,81000,48600,90720,64800,78408
11,Executive Suite,Sum of Revenue Bar,32400,27216,24840,29160,30240,15552,32400,32400,19440,36288,25920,31356
12,Executive Suite,Average of Occupancy,31,28,31,30,31,30,31,31,30,31,30,31
13,Executive Suite,Average of ADR,343,319,263,319,320,170,343,343,213,384,284,332
14,King Suite,Number of rooms,44,44,44,44,44,44,44,44,44,44,44,44
15,King Suite,Sum of Revenue Total,349888,274912,233684,191180,169928,187440,199936,199936,159324,199936,224928,343640
16,King Suite,Sum of Revenue Rooms,246400,193600,164560,134640,119680,132000,140800,140800,112200,140800,158400,242000
17,King Suite,Sum of Revenue Food,73920,58080,49368,40392,35904,39600,42240,42240,33660,42240,47520,72600
18,King Suite,Sum of Revenue Bar,29568,23232,19756,16148,14344,15840,16896,16896,13464,16896,19008,29040
19,King Suite,Average of Occupancy,31,28,31,30,31,30,31,31,30,31,30,31
20,King Suite,Average of ADR,256,223,171,144,124,142,146,146,120,146,170,251
21,One-Bedroom Club Room,Number of rooms,10,10,10,10,10,10,10,10,10,10,10,10
22,One-Bedroom Club Room,Sum of Revenue Total,144840,144840,147680,155060,169830,170400,213000,238560,155060,170400,127800,159040
23,One-Bedroom Club Room,Sum of Revenue Rooms,102000,102000,104000,109200,119600,120000,150000,168000,109200,120000,90000,112000
24,One-Bedroom Club Room,Sum of Revenue Food,30600,30600,31200,32760,35880,36000,45000,50400,32760,36000,27000,33600
25,One-Bedroom Club Room,Sum of Revenue Bar,12240,12240,12480,13100,14350,14400,18000,20160,13100,14400,10800,13440
26,One-Bedroom Club Room,Average of Occupancy,31,28,31,30,31,30,31,31,30,31,30,31
27,One-Bedroom Club Room,Average of ADR,467,517,476,516,547,568,687,769,516,549,426,513
28,One-Bedroom Suite,Number of rooms,6,6,6,6,6,6,6,6,6,6,6,6
29,One-Bedroom Suite,Sum of Revenue Total,109056,95424,95424,89460,149100,122688,170400,170400,143136,149952,122688,145692
30,One-Bedroom Suite,Sum of Revenue Rooms,76800,67200,67200,63000,105000,86400,120000,120000,100800,105600,86400,102600
31,One-Bedroom Suite,Sum of Revenue Food,23040,20160,20160,18900,31500,25920,36000,36000,30240,31680,25920,30780
32,One-Bedroom Suite,Sum of Revenue Bar,9216,8064,8064,7560,12600,10368,14400,14400,12096,12672,10368,12312
33,One-Bedroom Suite,Average of Occupancy,31,28,31,30,31,30,31,31,30,31,30,31
34,One-Bedroom Suite,Average of ADR,586,568,513,497,801,681,916,916,795,806,681,783
35,Superior King Room,Number of rooms,76,76,76,76,76,76,76,76,76,76,76,76
36,Superior King Room,Sum of Revenue Total,307572,356136,322696,336680,322696,291384,356136,372324,210444,453264,291384,403636
37,Superior King Room,Sum of Revenue Rooms,216600,250800,227240,237120,227240,205200,250800,262200,148200,319200,205200,284240
38,Superior King Room,Sum of Revenue Food,64980,75240,68172,71136,68172,61560,75240,78660,44460,95760,61560,85272
39,Superior King Room,Sum of Revenue Bar,25992,30096,27284,28424,27284,24624,30096,31464,17784,38304,24624,34124
40,Superior King Room,Average of Occupancy,31,28,31,30,31,30,31,31,30,31,30,31
41,Superior King Room,Average of ADR,130,167,136,147,136,127,151,158,92,192,127,171
42,NaN,Total Number of rooms,200,200,200,200,200,200,200,200,200,200,200,200
43,NaN,Total Sum of Revenue Total,1598920,1551208,1538736,1483232,1566994,1278000,1823848,1865596,1231988,1814476,1431360,1793292
44,NaN,Total Sum of Revenue Rooms,1126000,1092400,1083600,1044560,1103520,900000,1284400,1313800,867600,1277800,1008000,1262880
45,NaN,Total Sum of Revenue Food,337800,327720,325080,313368,331056,270000,385320,394140,260280,383340,302400,378864
46,NaN,Total Sum of Revenue Bar,135120,131088,130056,125304,132418,108000,154128,157656,104108,153336,120960,151548
47,NaN,Total Average of Occupancy,31,28,31,30,31,30,31,31,30,31,30,31
48,NaN,Total Average of ADR,386,386,333,333,333,386,386,386,333,386,386,430

# Step 2 - in Plans, melt() months from wide to long

melt()
- from wide to long
- https://pandas.pydata.org/docs/reference/api/pandas.melt.html

In [57]:
idvars =  ["RoomType","RoomStats"]
# valuevars = []
varname = "Month"
plans = pd.melt(plans,id_vars=idvars,var_name=varname)
plans

                  RoomType                   RoomStats      Month    value
0    Club Deluxe King Room             Number of rooms    January       28
1    Club Deluxe King Room        Sum of Revenue Total    January   304164
2    Club Deluxe King Room        Sum of Revenue Rooms    January   214200
3    Club Deluxe King Room         Sum of Revenue Food    January    64260
4    Club Deluxe King Room          Sum of Revenue Bar    January    25704
5    Club Deluxe King Room        Average of Occupancy    January       31
6    Club Deluxe King Room              Average of ADR    January      350
7          Executive Suite             Number of rooms    January       36
8          Executive Suite        Sum of Revenue Total    January   383400
9          Executive Suite        Sum of Revenue Rooms    January   270000
10         Executive Suite         Sum of Revenue Food    January    81000
11         Executive Suite          Sum of Revenue Bar    January    32400
12         Executive Suite        Average of Occupancy    January       31
13         Executive Suite              Average of ADR    January      343
14              King Suite             Number of rooms    January       44
15              King Suite        Sum of Revenue Total    January   349888
16              King Suite        Sum of Revenue Rooms    January   246400
17              King Suite         Sum of Revenue Food    January    73920
18              King Suite          Sum of Revenue Bar    January    29568
19              King Suite        Average of Occupancy    January       31
20              King Suite              Average of ADR    January      256
21   One-Bedroom Club Room             Number of rooms    January       10
22   One-Bedroom Club Room        Sum of Revenue Total    January   144840
23   One-Bedroom Club Room        Sum of Revenue Rooms    January   102000
24   One-Bedroom Club Room         Sum of Revenue Food    January    30600
25   One-Bedroom Club Room          Sum of Revenue Bar    January    12240
26   One-Bedroom Club Room        Average of Occupancy    January       31
27   One-Bedroom Club Room              Average of ADR    January      467
28       One-Bedroom Suite             Number of rooms    January        6
29       One-Bedroom Suite        Sum of Revenue Total    January   109056
30       One-Bedroom Suite        Sum of Revenue Rooms    January    76800
31       One-Bedroom Suite         Sum of Revenue Food    January    23040
32       One-Bedroom Suite          Sum of Revenue Bar    January     9216
33       One-Bedroom Suite        Average of Occupancy    January       31
34       One-Bedroom Suite              Average of ADR    January      586
35      Superior King Room             Number of rooms    January       76
36      Superior King Room        Sum of Revenue Total    January   307572
37      Superior King Room        Sum of Revenue Rooms    January   216600
38      Superior King Room         Sum of Revenue Food    January    64980
39      Superior King Room          Sum of Revenue Bar    January    25992
40      Superior King Room        Average of Occupancy    January       31
41      Superior King Room              Average of ADR    January      130
42                     NaN       Total Number of rooms    January      200
43                     NaN  Total Sum of Revenue Total    January  1598920
44                     NaN  Total Sum of Revenue Rooms    January  1126000
45                     NaN   Total Sum of Revenue Food    January   337800
46                     NaN    Total Sum of Revenue Bar    January   135120
47                     NaN  Total Average of Occupancy    January       31
48                     NaN        Total Average of ADR    January      386
49   Club Deluxe King Room             Number of rooms   February       28
50   Club Deluxe King Room        Sum of Revenue Total   February   357840
51   Club Deluxe King Room        Sum of Revenue Rooms   February   252000
52   Club Deluxe King Room         Sum of Revenue Food   February    75600
53   Club Deluxe King Room          Sum of Revenue Bar   February    30240
54   Club Deluxe King Room        Average of Occupancy   February       28
55   Club Deluxe King Room              Average of ADR   February      456
56         Executive Suite             Number of rooms   February       36
57         Executive Suite        Sum of Revenue Total   February   322056
58         Executive Suite        Sum of Revenue Rooms   February   226800
59         Executive Suite         Sum of Revenue Food   February    68040
60         Executive Suite          Sum of Revenue Bar   February    27216
61         Executive Suite        Average of Occupancy   February       28
62         Executive Suite              Average of ADR   February      319
63              King Suite             Number of rooms   February       44
64              King Suite        Sum of Revenue Total   February   274912
65              King Suite        Sum of Revenue Rooms   February   193600
66              King Suite         Sum of Revenue Food   February    58080
67              King Suite          Sum of Revenue Bar   February    23232
68              King Suite        Average of Occupancy   February       28
69              King Suite              Average of ADR   February      223
70   One-Bedroom Club Room             Number of rooms   February       10
71   One-Bedroom Club Room        Sum of Revenue Total   February   144840
72   One-Bedroom Club Room        Sum of Revenue Rooms   February   102000
73   One-Bedroom Club Room         Sum of Revenue Food   February    30600
74   One-Bedroom Club Room          Sum of Revenue Bar   February    12240
75   One-Bedroom Club Room        Average of Occupancy   February       28
76   One-Bedroom Club Room              Average of ADR   February      517
77       One-Bedroom Suite             Number of rooms   February        6
78       One-Bedroom Suite        Sum of Revenue Total   February    95424
79       One-Bedroom Suite        Sum of Revenue Rooms   February    67200
80       One-Bedroom Suite         Sum of Revenue Food   February    20160
81       One-Bedroom Suite          Sum of Revenue Bar   February     8064
82       One-Bedroom Suite        Average of Occupancy   February       28
83       One-Bedroom Suite              Average of ADR   February      568
84      Superior King Room             Number of rooms   February       76
85      Superior King Room        Sum of Revenue Total   February   356136
86      Superior King Room        Sum of Revenue Rooms   February   250800
87      Superior King Room         Sum of Revenue Food   February    75240
88      Superior King Room          Sum of Revenue Bar   February    30096
89      Superior King Room        Average of Occupancy   February       28
90      Superior King Room              Average of ADR   February      167
91                     NaN       Total Number of rooms   February      200
92                     NaN  Total Sum of Revenue Total   February  1551208
93                     NaN  Total Sum of Revenue Rooms   February  1092400
94                     NaN   Total Sum of Revenue Food   February   327720
95                     NaN    Total Sum of Revenue Bar   February   131088
96                     NaN  Total Average of Occupancy   February       28
97                     NaN        Total Average of ADR   February      386
98   Club Deluxe King Room             Number of rooms      March       28
99   Club Deluxe King Room        Sum of Revenue Total      March   445312
100  Club Deluxe King Room        Sum of Revenue Rooms      March   313600
101  Club Deluxe King Room         Sum of Revenue Food      March    94080
102  Club Deluxe King Room          Sum of Revenue Bar      March    37632
103  Club Deluxe King Room        Average of Occupancy      March       31
104  Club Deluxe King Room              Average of ADR      March      513
105        Executive Suite             Number of rooms      March       36
106        Executive Suite        Sum of Revenue Total      March   293940
107        Executive Suite        Sum of Revenue Rooms      March   207000
108        Executive Suite         Sum of Revenue Food      March    62100
109        Executive Suite          Sum of Revenue Bar      March    24840
110        Executive Suite        Average of Occupancy      March       31
111        Executive Suite              Average of ADR      March      263
112             King Suite             Number of rooms      March       44
113             King Suite        Sum of Revenue Total      March   233684
114             King Suite        Sum of Revenue Rooms      March   164560
115             King Suite         Sum of Revenue Food      March    49368
116             King Suite          Sum of Revenue Bar      March    19756
117             King Suite        Average of Occupancy      March       31
118             King Suite              Average of ADR      March      171
119  One-Bedroom Club Room             Number of rooms      March       10
120  One-Bedroom Club Room        Sum of Revenue Total      March   147680
121  One-Bedroom Club Room        Sum of Revenue Rooms      March   104000
122  One-Bedroom Club Room         Sum of Revenue Food      March    31200
123  One-Bedroom Club Room          Sum of Revenue Bar      March    12480
124  One-Bedroom Club Room        Average of Occupancy      March       31
125  One-Bedroom Club Room              Average of ADR      March      476
126      One-Bedroom Suite             Number of rooms      March        6
127      One-Bedroom Suite        Sum of Revenue Total      March    95424
128      One-Bedroom Suite        Sum of Revenue Rooms      March    67200
129      One-Bedroom Suite         Sum of Revenue Food      March    20160
130      One-Bedroom Suite          Sum of Revenue Bar      March     8064
131      One-Bedroom Suite        Average of Occupancy      March       31
132      One-Bedroom Suite              Average of ADR      March      513
133     Superior King Room             Number of rooms      March       76
134     Superior King Room        Sum of Revenue Total      March   322696
135     Superior King Room        Sum of Revenue Rooms      March   227240
136     Superior King Room         Sum of Revenue Food      March    68172
137     Superior King Room          Sum of Revenue Bar      March    27284
138     Superior King Room        Average of Occupancy      March       31
139     Superior King Room              Average of ADR      March      136
140                    NaN       Total Number of rooms      March      200
141                    NaN  Total Sum of Revenue Total      March  1538736
142                    NaN  Total Sum of Revenue Rooms      March  1083600
143                    NaN   Total Sum of Revenue Food      March   325080
144                    NaN    Total Sum of Revenue Bar      March   130056
145                    NaN  Total Average of Occupancy      March       31
146                    NaN        Total Average of ADR      March      333
147  Club Deluxe King Room             Number of rooms      April       28
148  Club Deluxe King Room        Sum of Revenue Total      April   365792
149  Club Deluxe King Room        Sum of Revenue Rooms      April   257600
150  Club Deluxe King Room         Sum of Revenue Food      April    77280
151  Club Deluxe King Room          Sum of Revenue Bar      April    30912
152  Club Deluxe King Room        Average of Occupancy      April       30
153  Club Deluxe King Room              Average of ADR      April      435
154        Executive Suite             Number of rooms      April       36
155        Executive Suite        Sum of Revenue Total      April   345060
156        Executive Suite        Sum of Revenue Rooms      April   243000
157        Executive Suite         Sum of Revenue Food      April    72900
158        Executive Suite          Sum of Revenue Bar      April    29160
159        Executive Suite        Average of Occupancy      April       30
160        Executive Suite              Average of ADR      April      319
161             King Suite             Number of rooms      April       44
162             King Suite        Sum of Revenue Total      April   191180
163             King Suite        Sum of Revenue Rooms      April   134640
164             King Suite         Sum of Revenue Food      April    40392
165             King Suite          Sum of Revenue Bar      April    16148
166             King Suite        Average of Occupancy      April       30
167             King Suite              Average of ADR      April      144
168  One-Bedroom Club Room             Number of rooms      April       10
169  One-Bedroom Club Room        Sum of Revenue Total      April   155060
170  One-Bedroom Club Room        Sum of Revenue Rooms      April   109200
171  One-Bedroom Club Room         Sum of Revenue Food      April    32760
172  One-Bedroom Club Room          Sum of Revenue Bar      April    13100
173  One-Bedroom Club Room        Average of Occupancy      April       30
174  One-Bedroom Club Room              Average of ADR      April      516
175      One-Bedroom Suite             Number of rooms      April        6
176      One-Bedroom Suite        Sum of Revenue Total      April    89460
177      One-Bedroom Suite        Sum of Revenue Rooms      April    63000
178      One-Bedroom Suite         Sum of Revenue Food      April    18900
179      One-Bedroom Suite          Sum of Revenue Bar      April     7560
180      One-Bedroom Suite        Average of Occupancy      April       30
181      One-Bedroom Suite              Average of ADR      April      497
182     Superior King Room             Number of rooms      April       76
183     Superior King Room        Sum of Revenue Total      April   336680
184     Superior King Room        Sum of Revenue Rooms      April   237120
185     Superior King Room         Sum of Revenue Food      April    71136
186     Superior King Room          Sum of Revenue Bar      April    28424
187     Superior King Room        Average of Occupancy      April       30
188     Superior King Room              Average of ADR      April      147
189                    NaN       Total Number of rooms      April      200
190                    NaN  Total Sum of Revenue Total      April  1483232
191                    NaN  Total Sum of Revenue Rooms      April  1044560
192                    NaN   Total Sum of Revenue Food      April   313368
193                    NaN    Total Sum of Revenue Bar      April   125304
194                    NaN  Total Average of Occupancy      April       30
195                    NaN        Total Average of ADR      April      333
196  Club Deluxe King Room             Number of rooms        May       28
197  Club Deluxe King Room        Sum of Revenue Total        May   397600
198  Club Deluxe King Room        Sum of Revenue Rooms        May   280000
199  Club Deluxe King Room         Sum of Revenue Food        May    84000
200  Club Deluxe King Room          Sum of Revenue Bar        May    33600
201  Club Deluxe King Room        Average of Occupancy        May       31
202  Club Deluxe King Room              Average of ADR        May      458
203        Executive Suite             Number of rooms        May       36
204        Executive Suite        Sum of Revenue Total        May   357840
205        Executive Suite        Sum of Revenue Rooms        May   252000
206        Executive Suite         Sum of Revenue Food        May    75600
207        Executive Suite          Sum of Revenue Bar        May    30240
208        Executive Suite        Average of Occupancy        May       31
209        Executive Suite              Average of ADR        May      320
210             King Suite             Number of rooms        May       44
211             King Suite        Sum of Revenue Total        May   169928
212             King Suite        Sum of Revenue Rooms        May   119680
213             King Suite         Sum of Revenue Food        May    35904
214             King Suite          Sum of Revenue Bar        May    14344
215             King Suite        Average of Occupancy        May       31
216             King Suite              Average of ADR        May      124
217  One-Bedroom Club Room             Number of rooms        May       10
218  One-Bedroom Club Room        Sum of Revenue Total        May   169830
219  One-Bedroom Club Room        Sum of Revenue Rooms        May   119600
220  One-Bedroom Club Room         Sum of Revenue Food        May    35880
221  One-Bedroom Club Room          Sum of Revenue Bar        May    14350
222  One-Bedroom Club Room        Average of Occupancy        May       31
223  One-Bedroom Club Room              Average of ADR        May      547
224      One-Bedroom Suite             Number of rooms        May        6
225      One-Bedroom Suite        Sum of Revenue Total        May   149100
226      One-Bedroom Suite        Sum of Revenue Rooms        May   105000
227      One-Bedroom Suite         Sum of Revenue Food        May    31500
228      One-Bedroom Suite          Sum of Revenue Bar        May    12600
229      One-Bedroom Suite        Average of Occupancy        May       31
230      One-Bedroom Suite              Average of ADR        May      801
231     Superior King Room             Number of rooms        May       76
232     Superior King Room        Sum of Revenue Total        May   322696
233     Superior King Room        Sum of Revenue Rooms        May   227240
234     Superior King Room         Sum of Revenue Food        May    68172
235     Superior King Room          Sum of Revenue Bar        May    27284
236     Superior King Room        Average of Occupancy        May       31
237     Superior King Room              Average of ADR        May      136
238                    NaN       Total Number of rooms        May      200
239                    NaN  Total Sum of Revenue Total        May  1566994
240                    NaN  Total Sum of Revenue Rooms        May  1103520
241                    NaN   Total Sum of Revenue Food        May   331056
242                    NaN    Total Sum of Revenue Bar        May   132418
243                    NaN  Total Average of Occupancy        May       31
244                    NaN        Total Average of ADR        May      333
245  Club Deluxe King Room             Number of rooms       June       28
246  Club Deluxe King Room        Sum of Revenue Total       June   322056
247  Club Deluxe King Room        Sum of Revenue Rooms       June   226800
248  Club Deluxe King Room         Sum of Revenue Food       June    68040
249  Club Deluxe King Room          Sum of Revenue Bar       June    27216
250  Club Deluxe King Room        Average of Occupancy       June       30
251  Club Deluxe King Room              Average of ADR       June      383
252        Executive Suite             Number of rooms       June       36
253        Executive Suite        Sum of Revenue Total       June   184032
254        Executive Suite        Sum of Revenue Rooms       June   129600
255        Executive Suite         Sum of Revenue Food       June    38880
256        Executive Suite          Sum of Revenue Bar       June    15552
257        Executive Suite        Average of Occupancy       June       30
258        Executive Suite              Average of ADR       June      170
259             King Suite             Number of rooms       June       44
260             King Suite        Sum of Revenue Total       June   187440
261             King Suite        Sum of Revenue Rooms       June   132000
262             King Suite         Sum of Revenue Food       June    39600
263             King Suite          Sum of Revenue Bar       June    15840
264             King Suite        Average of Occupancy       June       30

# Step 3 - in Plans, pivot() roomstats from long to wide

pivot()
- from long to wide
- https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.pivot.html

In [58]:
plans = plans.pivot(index=["RoomType","Month"],columns="RoomStats",values="value")
plans

RoomStats                        Average of ADR  Average of Occupancy  \
RoomType              Month
NaN                   April                 NaN                   NaN
                      August                NaN                   NaN
                      December              NaN                   NaN
                      February              NaN                   NaN
                      January               NaN                   NaN
                      July                  NaN                   NaN
                      June                  NaN                   NaN
                      March                 NaN                   NaN
                      May                   NaN                   NaN
                      November              NaN                   NaN
                      October               NaN                   NaN
                      September             NaN                   NaN
Club Deluxe King Room April               435.0                  30.0
                      August              577.0                  31.0
                      December            426.0                  31.0
                      February            456.0                  28.0
                      January             350.0                  31.0
                      July                577.0                  31.0
                      June                383.0                  30.0
                      March               513.0                  31.0
                      May                 458.0                  31.0
                      November            426.0                  30.0
                      October             474.0                  31.0
                      September           397.0                  30.0
Executive Suite       April               319.0                  30.0
                      August              343.0                  31.0
                      December            332.0                  31.0
                      February            319.0                  28.0
                      January             343.0                  31.0
                      July                343.0                  31.0
                      June                170.0                  30.0
                      March               263.0                  31.0
                      May                 320.0                  31.0
                      November            284.0                  30.0
                      October             384.0                  31.0
                      September           213.0                  30.0
King Suite            April               144.0                  30.0
                      August              146.0                  31.0
                      December            251.0                  31.0
                      February            223.0                  28.0
                      January             256.0                  31.0
                      July                146.0                  31.0
                      June                142.0                  30.0
                      March               171.0                  31.0
                      May                 124.0                  31.0
                      November            170.0                  30.0
                      October             146.0                  31.0
                      September           120.0                  30.0
One-Bedroom Club Room April               516.0                  30.0
                      August              769.0                  31.0
                      December            513.0                  31.0
                      February            517.0                  28.0
                      January             467.0                  31.0
                      July                687.0                  31.0
                      June                568.0                  30.0
                      March               476.0                  31.0
                      May                 547.0                  31.0
                      November            426.0                  30.0
                      October             549.0                  31.0
                      September           516.0                  30.0
One-Bedroom Suite     April               497.0                  30.0
                      August              916.0                  31.0
                      December            783.0                  31.0
                      February            568.0                  28.0
                      January             586.0                  31.0
                      July                916.0                  31.0
                      June                681.0                  30.0
                      March               513.0                  31.0
                      May                 801.0                  31.0
                      November            681.0                  30.0
                      October             806.0                  31.0
                      September           795.0                  30.0
Superior King Room    April               147.0                  30.0
                      August              158.0                  31.0
                      December            171.0                  31.0
                      February            167.0                  28.0
                      January             130.0                  31.0
                      July                151.0                  31.0
                      June                127.0                  30.0
                      March               136.0                  31.0
                      May                 136.0                  31.0
                      November            127.0                  30.0
                      October             192.0                  31.0
                      September            92.0                  30.0

RoomStats                        Number of rooms  Sum of Revenue Bar  \
RoomType              Month
NaN                   April                  NaN                 NaN
                      August                 NaN                 NaN
                      December               NaN                 NaN
                      February               NaN                 NaN
                      January                NaN                 NaN
                      July                   NaN                 NaN
                      June                   NaN                 NaN
                      March                  NaN                 NaN
                      May                    NaN                 NaN
                      November               NaN                 NaN
                      October                NaN                 NaN
                      September              NaN                 NaN
Club Deluxe King Room April                 28.0             30912.0
                      August                28.0             42336.0
                      December              28.0             31276.0
                      February              28.0             30240.0
                      January               28.0             25704.0
                      July                  28.0             42336.0
                      June                  28.0             27216.0
                      March                 28.0             37632.0
                      May                   28.0             33600.0
                      November              28.0             30240.0
                      October               28.0             34776.0
                      September             28.0             28224.0
Executive Suite       April                 36.0             29160.0
                      August                36.0             32400.0
                      December              36.0             31356.0
                      February              36.0             27216.0
                      January               36.0             32400.0
                      July                  36.0             32400.0
                      June                  36.0             15552.0
                      March                 36.0             24840.0
                      May                   36.0             30240.0
                      November              36.0             25920.0
                      October               36.0             36288.0
                      September             36.0             19440.0
King Suite            April                 44.0             16148.0
                      August                44.0             16896.0
                      December              44.0             29040.0
                      February              44.0             23232.0
                      January               44.0             29568.0
                      July                  44.0             16896.0
                      June                  44.0             15840.0
                      March                 44.0             19756.0
                      May                   44.0             14344.0
                      November              44.0             19008.0
                      October               44.0             16896.0
                      September             44.0             13464.0
One-Bedroom Club Room April                 10.0             13100.0
                      August                10.0             20160.0
                      December              10.0             13440.0
                      February              10.0             12240.0
                      January               10.0             12240.0
                      July                  10.0             18000.0
                      June                  10.0             14400.0
                      March                 10.0             12480.0
                      May                   10.0             14350.0
                      November              10.0             10800.0
                      October               10.0             14400.0
                      September             10.0             13100.0
One-Bedroom Suite     April                  6.0              7560.0
                      August                 6.0             14400.0
                      December               6.0             12312.0
                      February               6.0              8064.0
                      January                6.0              9216.0
                      July                   6.0             14400.0
                      June                   6.0             10368.0
                      March                  6.0              8064.0
                      May                    6.0             12600.0
                      November               6.0             10368.0
                      October                6.0             12672.0
                      September              6.0             12096.0
Superior King Room    April                 76.0             28424.0
                      August                76.0             31464.0
                      December              76.0             34124.0
                      February              76.0             30096.0
                      January               76.0             25992.0
                      July                  76.0             30096.0
                      June                  76.0             24624.0
                      March                 76.0             27284.0
                      May                   76.0             27284.0
                      November              76.0             24624.0
                      October               76.0             38304.0
                      September             76.0             17784.0

RoomStats                        Sum of Revenue Food  Sum of Revenue Rooms  \
RoomType              Month
NaN                   April                      NaN                   NaN
                      August                     NaN                   NaN
                      December                   NaN                   NaN
                      February                   NaN                   NaN
                      January                    NaN                   NaN
                      July                       NaN                   NaN
                      June                       NaN                   NaN
                      March                      NaN                   NaN
                      May                        NaN                   NaN
                      November                   NaN                   NaN
                      October                    NaN                   NaN
                      September                  NaN                   NaN
Club Deluxe King Room April                  77280.0              257600.0
                      August                105840.0              352800.0
                      December               78204.0              260680.0
                      February               75600.0              252000.0
                      January                64260.0              214200.0
                      July                  105840.0              352800.0
                      June                   68040.0              226800.0
                      March                  94080.0              313600.0
                      May                    84000.0              280000.0
                      November               75600.0              252000.0
                      October                86940.0              289800.0
                      September              70560.0              235200.0
Executive Suite       April                  72900.0              243000.0
                      August                 81000.0              270000.0
                      December               78408.0              261360.0
                      February               68040.0              226800.0
                      January                81000.0              270000.0
                      July                   81000.0              270000.0
                      June                   38880.0              129600.0
                      March                  62100.0              207000.0
                      May                    75600.0              252000.0
                      November               64800.0              216000.0
                      October                90720.0              302400.0
                      September              48600.0              162000.0
King Suite            April                  40392.0              134640.0
                      August                 42240.0              140800.0
                      December               72600.0              242000.0
                      February               58080.0              193600.0
                      January                73920.0              246400.0
                      July                   42240.0              140800.0
                      June                   39600.0              132000.0
                      March                  49368.0              164560.0
                      May                    35904.0              119680.0
                      November               47520.0              158400.0
                      October                42240.0              140800.0
                      September              33660.0              112200.0
One-Bedroom Club Room April                  32760.0              109200.0
                      August                 50400.0              168000.0
                      December               33600.0              112000.0
                      February               30600.0              102000.0
                      January                30600.0              102000.0
                      July                   45000.0              150000.0
                      June                   36000.0              120000.0
                      March                  31200.0              104000.0
                      May                    35880.0              119600.0
                      November               27000.0               90000.0
                      October                36000.0              120000.0
                      September              32760.0              109200.0
One-Bedroom Suite     April                  18900.0               63000.0
                      August                 36000.0              120000.0
                      December               30780.0              102600.0
                      February               20160.0               67200.0
                      January                23040.0               76800.0
                      July                   36000.0              120000.0
                      June                   25920.0               86400.0
                      March                  20160.0               67200.0
                      May                    31500.0              105000.0
                      November               25920.0               86400.0
                      October                31680.0              105600.0
                      September              30240.0              100800.0
Superior King Room    April                  71136.0              237120.0
                      August                 78660.0              262200.0
                      December               85272.0              284240.0
                      February               75240.0              250800.0
                      January                64980.0              216600.0
                      July                   75240.0              250800.0
                      June                   61560.0              205200.0
                      March                  68172.0              227240.0
                      May                    68172.0              227240.0
                      November               61560.0              205200.0
                      October                95760.0              319200.0
                      September              44460.0              148200.0

RoomStats                        Sum of Revenue Total  Total Average of ADR  \
RoomType              Month
NaN                   April                       NaN                 333.0
                      August                      NaN                 386.0
                      December                    NaN                 430.0
                      February                    NaN                 386.0
                      January                     NaN                 386.0
                      July                        NaN                 386.0
                      June                        NaN                 386.0
                      March                       NaN                 333.0
                      May                         NaN                 333.0
                      November                    NaN                 386.0
                      October                     NaN                 386.0
                      September                   NaN                 333.0
Club Deluxe King Room April                  365792.0                   NaN
                      August                 500976.0                   NaN
                      December               370160.0                   NaN
                      February               357840.0                   NaN
                      January                304164.0                   NaN
                      July                   500976.0                   NaN
                      June                   322056.0                   NaN
                      March                  445312.0                   NaN
                      May                    397600.0                   NaN

In [59]:
plans.reset_index(inplace=True)

In [60]:
pd.set_option('display.max_rows',None)
plans

RoomStats,RoomType,Month,Average of ADR,Average of Occupancy,Number of rooms,Sum of Revenue Bar,Sum of Revenue Food,Sum of Revenue Rooms,Sum of Revenue Total,Total Average of ADR,Total Average of Occupancy,Total Number of rooms,Total Sum of Revenue Bar,Total Sum of Revenue Food,Total Sum of Revenue Rooms,Total Sum of Revenue Total
0,NaN,April,NaN,NaN,NaN,NaN,NaN,NaN,NaN,333.0,30.0,200.0,125304.0,313368.0,1044560.0,1483232.0
1,NaN,August,NaN,NaN,NaN,NaN,NaN,NaN,NaN,386.0,31.0,200.0,157656.0,394140.0,1313800.0,1865596.0
2,NaN,December,NaN,NaN,NaN,NaN,NaN,NaN,NaN,430.0,31.0,200.0,151548.0,378864.0,1262880.0,1793292.0
3,NaN,February,NaN,NaN,NaN,NaN,NaN,NaN,NaN,386.0,28.0,200.0,131088.0,327720.0,1092400.0,1551208.0
4,NaN,January,NaN,NaN,NaN,NaN,NaN,NaN,NaN,386.0,31.0,200.0,135120.0,337800.0,1126000.0,1598920.0
5,NaN,July,NaN,NaN,NaN,NaN,NaN,NaN,NaN,386.0,31.0,200.0,154128.0,385320.0,1284400.0,1823848.0
6,NaN,June,NaN,NaN,NaN,NaN,NaN,NaN,NaN,386.0,30.0,200.0,108000.0,270000.0,900000.0,1278000.0
7,NaN,March,NaN,NaN,NaN,NaN,NaN,NaN,NaN,333.0,31.0,200.0,130056.0,325080.0,1083600.0,1538736.0
8,NaN,May,NaN,NaN,NaN,NaN,NaN,NaN,NaN,333.0,31.0,200.0,132418.0,331056.0,1103520.0,1566994.0
9,NaN,November,NaN,NaN,NaN,NaN,NaN,NaN,NaN,386.0,30.0,200.0,120960.0,302400.0,1008000.0,1431360.0
10,NaN,October,NaN,NaN,NaN,NaN,NaN,NaN,NaN,386.0,31.0,200.0,153336.0,383340.0,1277800.0,1814476.0
11,NaN,September,NaN,NaN,NaN,NaN,NaN,NaN,NaN,333.0,30.0,200.0,104108.0,260280.0,867600.0,1231988.0
12,Club Deluxe King Room,April,435.0,30.0,28.0,30912.0,77280.0,257600.0,365792.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Club Deluxe King Room,August,577.0,31.0,28.0,42336.0,105840.0,352800.0,500976.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Club Deluxe King Room,December,426.0,31.0,28.0,31276.0,78204.0,260680.0,370160.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Club Deluxe King Room,February,456.0,28.0,28.0,30240.0,75600.0,252000.0,357840.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Club Deluxe King Room,January,350.0,31.0,28.0,25704.0,64260.0,214200.0,304164.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Club Deluxe King Room,July,577.0,31.0,28.0,42336.0,105840.0,352800.0,500976.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Club Deluxe King Room,June,383.0,30.0,28.0,27216.0,68040.0,226800.0,322056.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Club Deluxe King Room,March,513.0,31.0,28.0,37632.0,94080.0,313600.0,445312.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Club Deluxe King Room,May,458.0,31.0,28.0,33600.0,84000.0,280000.0,397600.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Club Deluxe King Room,November,426.0,30.0,28.0,30240.0,75600.0,252000.0,357840.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Club Deluxe King Room,October,474.0,31.0,28.0,34776.0,86940.0,289800.0,411516.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Club Deluxe King Room,September,397.0,30.0,28.0,28224.0,70560.0,235200.0,333984.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,Executive Suite,April,319.0,30.0,36.0,29160.0,72900.0,243000.0,345060.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Executive Suite,August,343.0,31.0,36.0,32400.0,81000.0,270000.0,383400.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Executive Suite,December,332.0,31.0,36.0,31356.0,78408.0,261360.0,371124.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Executive Suite,February,319.0,28.0,36.0,27216.0,68040.0,226800.0,322056.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,Executive Suite,January,343.0,31.0,36.0,32400.0,81000.0,270000.0,383400.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,Executive Suite,July,343.0,31.0,36.0,32400.0,81000.0,270000.0,383400.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,Executive Suite,June,170.0,30.0,36.0,15552.0,38880.0,129600.0,184032.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,Executive Suite,March,263.0,31.0,36.0,24840.0,62100.0,207000.0,293940.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,Executive Suite,May,320.0,31.0,36.0,30240.0,75600.0,252000.0,357840.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,Executive Suite,November,284.0,30.0,36.0,25920.0,64800.0,216000.0,306720.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,Executive Suite,October,384.0,31.0,36.0,36288.0,90720.0,302400.0,429408.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,Executive Suite,September,213.0,30.0,36.0,19440.0,48600.0,162000.0,230040.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,King Suite,April,144.0,30.0,44.0,16148.0,40392.0,134640.0,191180.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,King Suite,August,146.0,31.0,44.0,16896.0,42240.0,140800.0,199936.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,King Suite,December,251.0,31.0,44.0,29040.0,72600.0,242000.0,343640.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,King Suite,February,223.0,28.0,44.0,23232.0,58080.0,193600.0,274912.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,King Suite,January,256.0,31.0,44.0,29568.0,73920.0,246400.0,349888.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,King Suite,July,146.0,31.0,44.0,16896.0,42240.0,140800.0,199936.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,King Suite,June,142.0,30.0,44.0,15840.0,39600.0,132000.0,187440.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,King Suite,March,171.0,31.0,44.0,19756.0,49368.0,164560.0,233684.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,King Suite,May,124.0,31.0,44.0,14344.0,35904.0,119680.0,169928.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,King Suite,November,170.0,30.0,44.0,19008.0,47520.0,158400.0,224928.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,King Suite,October,146.0,31.0,44.0,16896.0,42240.0,140800.0,199936.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,King Suite,September,120.0,30.0,44.0,13464.0,33660.0,112200.0,159324.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,One-Bedroom Club Room,April,516.0,30.0,10.0,13100.0,32760.0,109200.0,155060.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,One-Bedroom Club Room,August,769.0,31.0,10.0,20160.0,50400.0,168000.0,238560.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,One-Bedroom Club Room,December,513.0,31.0,10.0,13440.0,33600.0,112000.0,159040.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,One-Bedroom Club Room,February,517.0,28.0,10.0,12240.0,30600.0,102000.0,144840.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,One-Bedroom Club Room,January,467.0,31.0,10.0,12240.0,30600.0,102000.0,144840.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,One-Bedroom Club Room,July,687.0,31.0,10.0,18000.0,45000.0,150000.0,213000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,One-Bedroom Club Room,June,568.0,30.0,10.0,14400.0,36000.0,120000.0,170400.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,One-Bedroom Club Room,March,476.0,31.0,10.0,12480.0,31200.0,104000.0,147680.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,One-Bedroom Club Room,May,547.0,31.0,10.0,14350.0,35880.0,119600.0,169830.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57,One-Bedroom Club Room,November,426.0,30.0,10.0,10800.0,27000.0,90000.0,127800.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,One-Bedroom Club Room,October,549.0,31.0,10.0,14400.0,36000.0,120000.0,170400.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,One-Bedroom Club Room,September,516.0,30.0,10.0,13100.0,32760.0,109200.0,155060.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,One-Bedroom Suite,April,497.0,30.0,6.0,7560.0,18900.0,63000.0,89460.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,One-Bedroom Suite,August,916.0,31.0,6.0,14400.0,36000.0,120000.0,170400.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,One-Bedroom Suite,December,783.0,31.0,6.0,12312.0,30780.0,102600.0,145692.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63,One-Bedroom Suite,February,568.0,28.0,6.0,8064.0,20160.0,67200.0,95424.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64,One-Bedroom Suite,January,586.0,31.0,6.0,9216.0,23040.0,76800.0,109056.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65,One-Bedroom Suite,July,916.0,31.0,6.0,14400.0,36000.0,120000.0,170400.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66,One-Bedroom Suite,June,681.0,30.0,6.0,10368.0,25920.0,86400.0,122688.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67,One-Bedroom Suite,March,513.0,31.0,6.0,8064.0,20160.0,67200.0,95424.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68,One-Bedroom Suite,May,801.0,31.0,6.0,12600.0,31500.0,105000.0,149100.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69,One-Bedroom Suite,November,681.0,30.0,6.0,10368.0,25920.0,86400.0,122688.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70,One-Bedroom Suite,October,806.0,31.0,6.0,12672.0,31680.0,105600.0,149952.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71,One-Bedroom Suite,September,795.0,30.0,6.0,12096.0,30240.0,100800.0,143136.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72,Superior King Room,April,147.0,30.0,76.0,28424.0,71136.0,237120.0,336680.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73,Superior King Room,August,158.0,31.0,76.0,31464.0,78660.0,262200.0,372324.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74,Superior King Room,December,171.0,31.0,76.0,34124.0,85272.0,284240.0,403636.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75,Superior King Room,February,167.0,28.0,76.0,30096.0,75240.0,250800.0,356136.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76,Superior King Room,January,130.0,31.0,76.0,25992.0,64980.0,216600.0,307572.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77,Superior King Room,July,151.0,31.0,76.0,30096.0,75240.0,250800.0,356136.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78,Superior King Room,June,127.0,30.0,76.0,24624.0,61560.0,205200.0,291384.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79,Superior King Room,March,136.0,31.0,76.0,27284.0,68172.0,227240.0,322696.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80,Superior King Room,May,136.0,31.0,76.0,27284.0,68172.0,227240.0,322696.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81,Superior King Room,November,127.0,30.0,76.0,24624.0,61560.0,205200.0,291384.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82,Superior King Room,October,192.0,31.0,76.0,38304.0,95760.0,319200.0,453264.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83,Superior King Room,September,92.0,30.0,76.0,17784.0,44460.0,148200.0,210444.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [61]:
plans = plans[~plans.RoomType.isna()]
plans

RoomStats,RoomType,Month,Average of ADR,Average of Occupancy,Number of rooms,Sum of Revenue Bar,Sum of Revenue Food,Sum of Revenue Rooms,Sum of Revenue Total,Total Average of ADR,Total Average of Occupancy,Total Number of rooms,Total Sum of Revenue Bar,Total Sum of Revenue Food,Total Sum of Revenue Rooms,Total Sum of Revenue Total
12,Club Deluxe King Room,April,435.0,30.0,28.0,30912.0,77280.0,257600.0,365792.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Club Deluxe King Room,August,577.0,31.0,28.0,42336.0,105840.0,352800.0,500976.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Club Deluxe King Room,December,426.0,31.0,28.0,31276.0,78204.0,260680.0,370160.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Club Deluxe King Room,February,456.0,28.0,28.0,30240.0,75600.0,252000.0,357840.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Club Deluxe King Room,January,350.0,31.0,28.0,25704.0,64260.0,214200.0,304164.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Club Deluxe King Room,July,577.0,31.0,28.0,42336.0,105840.0,352800.0,500976.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Club Deluxe King Room,June,383.0,30.0,28.0,27216.0,68040.0,226800.0,322056.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Club Deluxe King Room,March,513.0,31.0,28.0,37632.0,94080.0,313600.0,445312.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Club Deluxe King Room,May,458.0,31.0,28.0,33600.0,84000.0,280000.0,397600.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Club Deluxe King Room,November,426.0,30.0,28.0,30240.0,75600.0,252000.0,357840.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Club Deluxe King Room,October,474.0,31.0,28.0,34776.0,86940.0,289800.0,411516.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Club Deluxe King Room,September,397.0,30.0,28.0,28224.0,70560.0,235200.0,333984.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,Executive Suite,April,319.0,30.0,36.0,29160.0,72900.0,243000.0,345060.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Executive Suite,August,343.0,31.0,36.0,32400.0,81000.0,270000.0,383400.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Executive Suite,December,332.0,31.0,36.0,31356.0,78408.0,261360.0,371124.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Executive Suite,February,319.0,28.0,36.0,27216.0,68040.0,226800.0,322056.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,Executive Suite,January,343.0,31.0,36.0,32400.0,81000.0,270000.0,383400.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,Executive Suite,July,343.0,31.0,36.0,32400.0,81000.0,270000.0,383400.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,Executive Suite,June,170.0,30.0,36.0,15552.0,38880.0,129600.0,184032.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,Executive Suite,March,263.0,31.0,36.0,24840.0,62100.0,207000.0,293940.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,Executive Suite,May,320.0,31.0,36.0,30240.0,75600.0,252000.0,357840.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,Executive Suite,November,284.0,30.0,36.0,25920.0,64800.0,216000.0,306720.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,Executive Suite,October,384.0,31.0,36.0,36288.0,90720.0,302400.0,429408.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,Executive Suite,September,213.0,30.0,36.0,19440.0,48600.0,162000.0,230040.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,King Suite,April,144.0,30.0,44.0,16148.0,40392.0,134640.0,191180.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,King Suite,August,146.0,31.0,44.0,16896.0,42240.0,140800.0,199936.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,King Suite,December,251.0,31.0,44.0,29040.0,72600.0,242000.0,343640.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,King Suite,February,223.0,28.0,44.0,23232.0,58080.0,193600.0,274912.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,King Suite,January,256.0,31.0,44.0,29568.0,73920.0,246400.0,349888.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,King Suite,July,146.0,31.0,44.0,16896.0,42240.0,140800.0,199936.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,King Suite,June,142.0,30.0,44.0,15840.0,39600.0,132000.0,187440.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,King Suite,March,171.0,31.0,44.0,19756.0,49368.0,164560.0,233684.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,King Suite,May,124.0,31.0,44.0,14344.0,35904.0,119680.0,169928.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,King Suite,November,170.0,30.0,44.0,19008.0,47520.0,158400.0,224928.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,King Suite,October,146.0,31.0,44.0,16896.0,42240.0,140800.0,199936.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,King Suite,September,120.0,30.0,44.0,13464.0,33660.0,112200.0,159324.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,One-Bedroom Club Room,April,516.0,30.0,10.0,13100.0,32760.0,109200.0,155060.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,One-Bedroom Club Room,August,769.0,31.0,10.0,20160.0,50400.0,168000.0,238560.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,One-Bedroom Club Room,December,513.0,31.0,10.0,13440.0,33600.0,112000.0,159040.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,One-Bedroom Club Room,February,517.0,28.0,10.0,12240.0,30600.0,102000.0,144840.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,One-Bedroom Club Room,January,467.0,31.0,10.0,12240.0,30600.0,102000.0,144840.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,One-Bedroom Club Room,July,687.0,31.0,10.0,18000.0,45000.0,150000.0,213000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,One-Bedroom Club Room,June,568.0,30.0,10.0,14400.0,36000.0,120000.0,170400.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,One-Bedroom Club Room,March,476.0,31.0,10.0,12480.0,31200.0,104000.0,147680.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,One-Bedroom Club Room,May,547.0,31.0,10.0,14350.0,35880.0,119600.0,169830.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57,One-Bedroom Club Room,November,426.0,30.0,10.0,10800.0,27000.0,90000.0,127800.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,One-Bedroom Club Room,October,549.0,31.0,10.0,14400.0,36000.0,120000.0,170400.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,One-Bedroom Club Room,September,516.0,30.0,10.0,13100.0,32760.0,109200.0,155060.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,One-Bedroom Suite,April,497.0,30.0,6.0,7560.0,18900.0,63000.0,89460.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,One-Bedroom Suite,August,916.0,31.0,6.0,14400.0,36000.0,120000.0,170400.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,One-Bedroom Suite,December,783.0,31.0,6.0,12312.0,30780.0,102600.0,145692.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63,One-Bedroom Suite,February,568.0,28.0,6.0,8064.0,20160.0,67200.0,95424.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64,One-Bedroom Suite,January,586.0,31.0,6.0,9216.0,23040.0,76800.0,109056.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65,One-Bedroom Suite,July,916.0,31.0,6.0,14400.0,36000.0,120000.0,170400.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66,One-Bedroom Suite,June,681.0,30.0,6.0,10368.0,25920.0,86400.0,122688.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67,One-Bedroom Suite,March,513.0,31.0,6.0,8064.0,20160.0,67200.0,95424.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68,One-Bedroom Suite,May,801.0,31.0,6.0,12600.0,31500.0,105000.0,149100.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69,One-Bedroom Suite,November,681.0,30.0,6.0,10368.0,25920.0,86400.0,122688.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70,One-Bedroom Suite,October,806.0,31.0,6.0,12672.0,31680.0,105600.0,149952.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71,One-Bedroom Suite,September,795.0,30.0,6.0,12096.0,30240.0,100800.0,143136.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72,Superior King Room,April,147.0,30.0,76.0,28424.0,71136.0,237120.0,336680.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73,Superior King Room,August,158.0,31.0,76.0,31464.0,78660.0,262200.0,372324.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74,Superior King Room,December,171.0,31.0,76.0,34124.0,85272.0,284240.0,403636.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75,Superior King Room,February,167.0,28.0,76.0,30096.0,75240.0,250800.0,356136.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76,Superior King Room,January,130.0,31.0,76.0,25992.0,64980.0,216600.0,307572.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77,Superior King Room,July,151.0,31.0,76.0,30096.0,75240.0,250800.0,356136.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78,Superior King Room,June,127.0,30.0,76.0,24624.0,61560.0,205200.0,291384.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79,Superior King Room,March,136.0,31.0,76.0,27284.0,68172.0,227240.0,322696.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80,Superior King Room,May,136.0,31.0,76.0,27284.0,68172.0,227240.0,322696.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81,Superior King Room,November,127.0,30.0,76.0,24624.0,61560.0,205200.0,291384.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82,Superior King Room,October,192.0,31.0,76.0,38304.0,95760.0,319200.0,453264.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83,Superior King Room,September,92.0,30.0,76.0,17784.0,44460.0,148200.0,210444.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [62]:
columns_to_keep = ["RoomType",
                   "Month",
                   "Number of rooms",
                   "Sum of Revenue Bar",
                   "Sum of Revenue Food",
                   "Sum of Revenue Rooms",
                    "Sum of Revenue Total"]

In [63]:
plans = plans[columns_to_keep]
plans

RoomStats,RoomType,Month,Number of rooms,Sum of Revenue Bar,Sum of Revenue Food,Sum of Revenue Rooms,Sum of Revenue Total
12,Club Deluxe King Room,April,28.0,30912.0,77280.0,257600.0,365792.0
13,Club Deluxe King Room,August,28.0,42336.0,105840.0,352800.0,500976.0
14,Club Deluxe King Room,December,28.0,31276.0,78204.0,260680.0,370160.0
15,Club Deluxe King Room,February,28.0,30240.0,75600.0,252000.0,357840.0
16,Club Deluxe King Room,January,28.0,25704.0,64260.0,214200.0,304164.0
17,Club Deluxe King Room,July,28.0,42336.0,105840.0,352800.0,500976.0
18,Club Deluxe King Room,June,28.0,27216.0,68040.0,226800.0,322056.0
19,Club Deluxe King Room,March,28.0,37632.0,94080.0,313600.0,445312.0
20,Club Deluxe King Room,May,28.0,33600.0,84000.0,280000.0,397600.0
21,Club Deluxe King Room,November,28.0,30240.0,75600.0,252000.0,357840.0
22,Club Deluxe King Room,October,28.0,34776.0,86940.0,289800.0,411516.0
23,Club Deluxe King Room,September,28.0,28224.0,70560.0,235200.0,333984.0
24,Executive Suite,April,36.0,29160.0,72900.0,243000.0,345060.0
25,Executive Suite,August,36.0,32400.0,81000.0,270000.0,383400.0
26,Executive Suite,December,36.0,31356.0,78408.0,261360.0,371124.0
27,Executive Suite,February,36.0,27216.0,68040.0,226800.0,322056.0
28,Executive Suite,January,36.0,32400.0,81000.0,270000.0,383400.0
29,Executive Suite,July,36.0,32400.0,81000.0,270000.0,383400.0
30,Executive Suite,June,36.0,15552.0,38880.0,129600.0,184032.0
31,Executive Suite,March,36.0,24840.0,62100.0,207000.0,293940.0
32,Executive Suite,May,36.0,30240.0,75600.0,252000.0,357840.0
33,Executive Suite,November,36.0,25920.0,64800.0,216000.0,306720.0
34,Executive Suite,October,36.0,36288.0,90720.0,302400.0,429408.0
35,Executive Suite,September,36.0,19440.0,48600.0,162000.0,230040.0
36,King Suite,April,44.0,16148.0,40392.0,134640.0,191180.0
37,King Suite,August,44.0,16896.0,42240.0,140800.0,199936.0
38,King Suite,December,44.0,29040.0,72600.0,242000.0,343640.0
39,King Suite,February,44.0,23232.0,58080.0,193600.0,274912.0
40,King Suite,January,44.0,29568.0,73920.0,246400.0,349888.0
41,King Suite,July,44.0,16896.0,42240.0,140800.0,199936.0
42,King Suite,June,44.0,15840.0,39600.0,132000.0,187440.0
43,King Suite,March,44.0,19756.0,49368.0,164560.0,233684.0
44,King Suite,May,44.0,14344.0,35904.0,119680.0,169928.0
45,King Suite,November,44.0,19008.0,47520.0,158400.0,224928.0
46,King Suite,October,44.0,16896.0,42240.0,140800.0,199936.0
47,King Suite,September,44.0,13464.0,33660.0,112200.0,159324.0
48,One-Bedroom Club Room,April,10.0,13100.0,32760.0,109200.0,155060.0
49,One-Bedroom Club Room,August,10.0,20160.0,50400.0,168000.0,238560.0
50,One-Bedroom Club Room,December,10.0,13440.0,33600.0,112000.0,159040.0
51,One-Bedroom Club Room,February,10.0,12240.0,30600.0,102000.0,144840.0
52,One-Bedroom Club Room,January,10.0,12240.0,30600.0,102000.0,144840.0
53,One-Bedroom Club Room,July,10.0,18000.0,45000.0,150000.0,213000.0
54,One-Bedroom Club Room,June,10.0,14400.0,36000.0,120000.0,170400.0
55,One-Bedroom Club Room,March,10.0,12480.0,31200.0,104000.0,147680.0
56,One-Bedroom Club Room,May,10.0,14350.0,35880.0,119600.0,169830.0
57,One-Bedroom Club Room,November,10.0,10800.0,27000.0,90000.0,127800.0
58,One-Bedroom Club Room,October,10.0,14400.0,36000.0,120000.0,170400.0
59,One-Bedroom Club Room,September,10.0,13100.0,32760.0,109200.0,155060.0
60,One-Bedroom Suite,April,6.0,7560.0,18900.0,63000.0,89460.0
61,One-Bedroom Suite,August,6.0,14400.0,36000.0,120000.0,170400.0
62,One-Bedroom Suite,December,6.0,12312.0,30780.0,102600.0,145692.0
63,One-Bedroom Suite,February,6.0,8064.0,20160.0,67200.0,95424.0
64,One-Bedroom Suite,January,6.0,9216.0,23040.0,76800.0,109056.0
65,One-Bedroom Suite,July,6.0,14400.0,36000.0,120000.0,170400.0
66,One-Bedroom Suite,June,6.0,10368.0,25920.0,86400.0,122688.0
67,One-Bedroom Suite,March,6.0,8064.0,20160.0,67200.0,95424.0
68,One-Bedroom Suite,May,6.0,12600.0,31500.0,105000.0,149100.0
69,One-Bedroom Suite,November,6.0,10368.0,25920.0,86400.0,122688.0
70,One-Bedroom Suite,October,6.0,12672.0,31680.0,105600.0,149952.0
71,One-Bedroom Suite,September,6.0,12096.0,30240.0,100800.0,143136.0
72,Superior King Room,April,76.0,28424.0,71136.0,237120.0,336680.0
73,Superior King Room,August,76.0,31464.0,78660.0,262200.0,372324.0
74,Superior King Room,December,76.0,34124.0,85272.0,284240.0,403636.0
75,Superior King Room,February,76.0,30096.0,75240.0,250800.0,356136.0
76,Superior King Room,January,76.0,25992.0,64980.0,216600.0,307572.0
77,Superior King Room,July,76.0,30096.0,75240.0,250800.0,356136.0
78,Superior King Room,June,76.0,24624.0,61560.0,205200.0,291384.0
79,Superior King Room,March,76.0,27284.0,68172.0,227240.0,322696.0
80,Superior King Room,May,76.0,27284.0,68172.0,227240.0,322696.0
81,Superior King Room,November,76.0,24624.0,61560.0,205200.0,291384.0
82,Superior King Room,October,76.0,38304.0,95760.0,319200.0,453264.0
83,Superior King Room,September,76.0,17784.0,44460.0,148200.0,210444.0

# Step 4 - open Actuals.xlsx and rename columns for both dataframes

In [64]:
actuals = pd.read_excel("Actual_Agg.xlsx",header=0)
actuals

,Unnamed: 0,RoomType,Month,Reservation_Counts,DaysStayed_Counts,RevenueRoom_Sum,RevenueFood_Sum,RevenueBeverage_Sum,RevenueTotal_Sum
0,0,Club Deluxe King Room,1,135,456,205200,30271,21888,257359
1,1,Club Deluxe King Room,2,181,545,245250,32164,26281,303695
2,2,Club Deluxe King Room,3,235,727,290800,41080,41386,373266
3,3,Club Deluxe King Room,4,172,638,255200,25222,34999,315421
4,4,Club Deluxe King Room,5,169,720,288000,16293,31365,335658
5,5,Club Deluxe King Room,6,106,468,210600,6738,21657,238995
6,6,Club Deluxe King Room,7,179,785,353250,118192,48908,520350
7,7,Club Deluxe King Room,8,186,794,357300,108673,42766,508739
8,8,Club Deluxe King Room,9,141,569,227600,69920,24745,322265
9,9,Club Deluxe King Room,10,170,637,286650,86600,33078,406328
10,10,Club Deluxe King Room,11,190,560,252000,72942,28028,352970
11,11,Club Deluxe King Room,12,178,509,249410,61483,25306,336199
12,12,Executive Suite,1,323,962,288600,105237,44426,438263
13,13,Executive Suite,2,186,736,220800,63158,26622,310580
14,14,Executive Suite,3,193,876,219000,65009,25375,309384
15,15,Executive Suite,4,262,1003,250750,105824,42033,398607
16,16,Executive Suite,5,237,976,244000,79773,32339,356112
17,17,Executive Suite,6,72,460,138000,33472,13055,184527
18,18,Executive Suite,7,171,956,286800,82936,33687,403423
19,19,Executive Suite,8,148,845,253500,59885,25777,339162
20,20,Executive Suite,9,119,634,158500,40669,16208,215377
21,21,Executive Suite,10,259,1006,301800,96709,41267,439776
22,22,Executive Suite,11,170,709,212700,63904,23728,300332
23,23,Executive Suite,12,231,830,273900,92230,35451,401581
24,24,King Suite,1,633,1332,266400,121782,48043,436225
25,25,King Suite,2,439,1099,219800,83077,31640,334517
26,26,King Suite,3,329,1020,173400,45926,18805,238131
27,27,King Suite,4,211,799,135830,31421,12905,180156
28,28,King Suite,5,147,686,116620,18872,7772,143264
29,29,King Suite,6,76,523,104600,24286,10459,139345
30,30,King Suite,7,224,303,60600,4169,1739,66508
31,31,King Suite,8,219,267,53400,2761,1161,57322
32,32,King Suite,9,210,244,41480,3034,1122,45636
33,33,King Suite,10,105,182,36400,1564,627,38591
34,34,King Suite,11,128,180,36000,1867,731,38598
35,35,King Suite,12,152,204,44880,2682,1110,48672
36,36,One-Bedroom Club Room,1,60,177,106200,14138,10025,130363
37,37,One-Bedroom Club Room,2,53,173,103800,10501,10951,125252
38,38,One-Bedroom Club Room,3,48,174,90480,7793,8590,106863
39,39,One-Bedroom Club Room,4,44,167,86840,7098,8567,102505
40,40,One-Bedroom Club Room,5,54,216,112320,6082,11352,129754
41,41,One-Bedroom Club Room,6,40,186,111600,3614,12917,128131
42,42,One-Bedroom Club Room,7,69,283,169800,68660,22589,261049
43,43,One-Bedroom Club Room,8,70,283,169800,56667,22717,249184
44,44,One-Bedroom Club Room,9,48,195,101400,28379,12404,142183
45,45,One-Bedroom Club Room,10,45,185,111000,22522,8666,142188
46,46,One-Bedroom Club Room,11,36,114,68400,13064,5524,86988
47,47,One-Bedroom Club Room,12,37,137,95900,18772,7550,122222
48,48,One-Bedroom Suite,1,40,93,74400,9343,7296,91039
49,49,One-Bedroom Suite,2,33,85,68000,5883,4258,78141
50,50,One-Bedroom Suite,3,31,86,60200,4292,4386,68878
51,51,One-Bedroom Suite,4,18,62,43400,2086,2399,47885
52,52,One-Bedroom Suite,5,54,143,100100,5812,12102,118014
53,53,One-Bedroom Suite,6,25,94,75200,2180,6213,83593
54,54,One-Bedroom Suite,7,32,141,112800,31745,12418,156963
55,55,One-Bedroom Suite,8,55,179,143200,52523,16605,212328
56,56,One-Bedroom Suite,9,44,133,93100,31039,10396,134535
57,57,One-Bedroom Suite,10,38,123,98400,21407,9826,129633
58,58,One-Bedroom Suite,11,52,107,85600,27953,10348,123901
59,59,One-Bedroom Suite,12,47,99,89100,21078,8640,118818
60,60,Superior King Room,1,464,1385,207750,51050,21338,280138
61,61,Superior King Room,2,592,1779,266850,84659,33710,385219
62,62,Superior King Room,3,463,1825,237250,70070,26603,333923
63,63,Superior King Room,4,527,1893,246090,86019,33039,365148
64,64,Superior King Room,5,455,1778,231140,62810,24075,318025
65,65,Superior King Room,6,265,1268,190200,58046,20842,269088
66,66,Superior King Room,7,319,1649,247350,59325,24482,331157
67,67,Superior King Room,8,351,1740,261000,59086,24407,344493
68,68,Superior King Room,9,235,1204,156520,34636,13069,204225
69,69,Superior King Room,10,666,2219,332850,126851,51164,510865
70,70,Superior King Room,11,358,1369,205350,52867,21795,280012
71,71,Superior King Room,12,532,1630,277100,81952,34632,393684

In [65]:
plans.columns

Index(['RoomType', 'Month', 'Number of rooms', 'Sum of Revenue Bar',
       'Sum of Revenue Food', 'Sum of Revenue Rooms', 'Sum of Revenue Total'],
      dtype='object', name='RoomStats')

In [66]:
actuals.columns

Index(['Unnamed: 0', 'RoomType', 'Month', 'Reservation_Counts',
       'DaysStayed_Counts', 'RevenueRoom_Sum', 'RevenueFood_Sum',
       'RevenueBeverage_Sum', 'RevenueTotal_Sum'],
      dtype='object')

In [67]:
actuals.drop(columns=["Unnamed: 0"],inplace=True)
actuals.columns

Index(['RoomType', 'Month', 'Reservation_Counts', 'DaysStayed_Counts',
       'RevenueRoom_Sum', 'RevenueFood_Sum', 'RevenueBeverage_Sum',
       'RevenueTotal_Sum'],
      dtype='object')

In [103]:
plans.columns = ["RoomType","Month","NumberOfRooms","Bar","Food","Room","Total"]
plans.columns

Index(['RoomType', 'Month', 'NumberOfRooms', 'Bar', 'Food', 'Room', 'Total'], dtype='object')

In [104]:
actuals.columns = ["RoomType","Month","Reservations","DaysStayed","Room","Food","Bar","Total"]
actuals.columns

Index(['RoomType', 'Month', 'Reservations', 'DaysStayed', 'Room', 'Food',
       'Bar', 'Total'],
      dtype='object')

# Step 5 - in Plans, recode Month from string to int

apply()
- https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.apply.html

In [105]:
plans.dtypes

RoomType          object
Month              int64
NumberOfRooms    float64
Bar              float64
Food             float64
Room             float64
Total            float64
dtype: object

In [106]:
actuals.dtypes

RoomType        object
Month            int64
Reservations     int64
DaysStayed       int64
Room             int64
Food             int64
Bar              int64
Total            int64
dtype: object

In [107]:
monthdict = {"January":1,
            "February":2,
            "March":3,
            "April":4,
            "May":5,
            "June":6,
            "July":7,
            "August":8,
            "September":9,
            "October":10,
            "November":11,
            "December":12}

In [73]:
plans

,RoomType,Month,NumberOfRooms,Bar,Food,Rooms,Total
12,Club Deluxe King Room,April,28.0,30912.0,77280.0,257600.0,365792.0
13,Club Deluxe King Room,August,28.0,42336.0,105840.0,352800.0,500976.0
14,Club Deluxe King Room,December,28.0,31276.0,78204.0,260680.0,370160.0
15,Club Deluxe King Room,February,28.0,30240.0,75600.0,252000.0,357840.0
16,Club Deluxe King Room,January,28.0,25704.0,64260.0,214200.0,304164.0
17,Club Deluxe King Room,July,28.0,42336.0,105840.0,352800.0,500976.0
18,Club Deluxe King Room,June,28.0,27216.0,68040.0,226800.0,322056.0
19,Club Deluxe King Room,March,28.0,37632.0,94080.0,313600.0,445312.0
20,Club Deluxe King Room,May,28.0,33600.0,84000.0,280000.0,397600.0
21,Club Deluxe King Room,November,28.0,30240.0,75600.0,252000.0,357840.0
22,Club Deluxe King Room,October,28.0,34776.0,86940.0,289800.0,411516.0
23,Club Deluxe King Room,September,28.0,28224.0,70560.0,235200.0,333984.0
24,Executive Suite,April,36.0,29160.0,72900.0,243000.0,345060.0
25,Executive Suite,August,36.0,32400.0,81000.0,270000.0,383400.0
26,Executive Suite,December,36.0,31356.0,78408.0,261360.0,371124.0
27,Executive Suite,February,36.0,27216.0,68040.0,226800.0,322056.0
28,Executive Suite,January,36.0,32400.0,81000.0,270000.0,383400.0
29,Executive Suite,July,36.0,32400.0,81000.0,270000.0,383400.0
30,Executive Suite,June,36.0,15552.0,38880.0,129600.0,184032.0
31,Executive Suite,March,36.0,24840.0,62100.0,207000.0,293940.0
32,Executive Suite,May,36.0,30240.0,75600.0,252000.0,357840.0
33,Executive Suite,November,36.0,25920.0,64800.0,216000.0,306720.0
34,Executive Suite,October,36.0,36288.0,90720.0,302400.0,429408.0
35,Executive Suite,September,36.0,19440.0,48600.0,162000.0,230040.0
36,King Suite,April,44.0,16148.0,40392.0,134640.0,191180.0
37,King Suite,August,44.0,16896.0,42240.0,140800.0,199936.0
38,King Suite,December,44.0,29040.0,72600.0,242000.0,343640.0
39,King Suite,February,44.0,23232.0,58080.0,193600.0,274912.0
40,King Suite,January,44.0,29568.0,73920.0,246400.0,349888.0
41,King Suite,July,44.0,16896.0,42240.0,140800.0,199936.0
42,King Suite,June,44.0,15840.0,39600.0,132000.0,187440.0
43,King Suite,March,44.0,19756.0,49368.0,164560.0,233684.0
44,King Suite,May,44.0,14344.0,35904.0,119680.0,169928.0
45,King Suite,November,44.0,19008.0,47520.0,158400.0,224928.0
46,King Suite,October,44.0,16896.0,42240.0,140800.0,199936.0
47,King Suite,September,44.0,13464.0,33660.0,112200.0,159324.0
48,One-Bedroom Club Room,April,10.0,13100.0,32760.0,109200.0,155060.0
49,One-Bedroom Club Room,August,10.0,20160.0,50400.0,168000.0,238560.0
50,One-Bedroom Club Room,December,10.0,13440.0,33600.0,112000.0,159040.0
51,One-Bedroom Club Room,February,10.0,12240.0,30600.0,102000.0,144840.0
52,One-Bedroom Club Room,January,10.0,12240.0,30600.0,102000.0,144840.0
53,One-Bedroom Club Room,July,10.0,18000.0,45000.0,150000.0,213000.0
54,One-Bedroom Club Room,June,10.0,14400.0,36000.0,120000.0,170400.0
55,One-Bedroom Club Room,March,10.0,12480.0,31200.0,104000.0,147680.0
56,One-Bedroom Club Room,May,10.0,14350.0,35880.0,119600.0,169830.0
57,One-Bedroom Club Room,November,10.0,10800.0,27000.0,90000.0,127800.0
58,One-Bedroom Club Room,October,10.0,14400.0,36000.0,120000.0,170400.0
59,One-Bedroom Club Room,September,10.0,13100.0,32760.0,109200.0,155060.0
60,One-Bedroom Suite,April,6.0,7560.0,18900.0,63000.0,89460.0
61,One-Bedroom Suite,August,6.0,14400.0,36000.0,120000.0,170400.0
62,One-Bedroom Suite,December,6.0,12312.0,30780.0,102600.0,145692.0
63,One-Bedroom Suite,February,6.0,8064.0,20160.0,67200.0,95424.0
64,One-Bedroom Suite,January,6.0,9216.0,23040.0,76800.0,109056.0
65,One-Bedroom Suite,July,6.0,14400.0,36000.0,120000.0,170400.0
66,One-Bedroom Suite,June,6.0,10368.0,25920.0,86400.0,122688.0
67,One-Bedroom Suite,March,6.0,8064.0,20160.0,67200.0,95424.0
68,One-Bedroom Suite,May,6.0,12600.0,31500.0,105000.0,149100.0
69,One-Bedroom Suite,November,6.0,10368.0,25920.0,86400.0,122688.0
70,One-Bedroom Suite,October,6.0,12672.0,31680.0,105600.0,149952.0
71,One-Bedroom Suite,September,6.0,12096.0,30240.0,100800.0,143136.0
72,Superior King Room,April,76.0,28424.0,71136.0,237120.0,336680.0
73,Superior King Room,August,76.0,31464.0,78660.0,262200.0,372324.0
74,Superior King Room,December,76.0,34124.0,85272.0,284240.0,403636.0
75,Superior King Room,February,76.0,30096.0,75240.0,250800.0,356136.0
76,Superior King Room,January,76.0,25992.0,64980.0,216600.0,307572.0
77,Superior King Room,July,76.0,30096.0,75240.0,250800.0,356136.0
78,Superior King Room,June,76.0,24624.0,61560.0,205200.0,291384.0
79,Superior King Room,March,76.0,27284.0,68172.0,227240.0,322696.0
80,Superior King Room,May,76.0,27284.0,68172.0,227240.0,322696.0
81,Superior King Room,November,76.0,24624.0,61560.0,205200.0,291384.0
82,Superior King Room,October,76.0,38304.0,95760.0,319200.0,453264.0
83,Superior King Room,September,76.0,17784.0,44460.0,148200.0,210444.0

In [77]:
plans["Month"] = plans["Month"].apply(lambda row: monthdict[row])

KeyError: 4

In [79]:
plans.dtypes

RoomType          object
Month              int64
NumberOfRooms    float64
Bar              float64
Food             float64
Rooms            float64
Total            float64
dtype: object

In [80]:
actuals.dtypes

RoomType        object
Month            int64
Reservations     int64
DaysStayed       int64
Room             int64
Food             int64
Beverage         int64
Total            int64
dtype: object

# Step 6 - merge() Actuals and Plans

types of joins
- https://www.google.com/search?q=types+of+joins+sql&rlz=1C1CHBF_enUS844US844&sxsrf=ALiCzsZk3tdWCFd8EUJ_KByvyj5ARcmDlA:1669971460127&source=lnms&tbm=isch&sa=X&ved=2ahUKEwiDyam9yNr7AhVG_SoKHXw7CTsQ_AUoAXoECAIQAw&cshid=1669971479997402&biw=1600&bih=712&dpr=1.2#imgrc=1GSEpVAJ6YPoSM

merge()
- join two tables
- types of joins: inner, left, right, outer, cross
- https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.merge.html

In [83]:
plans.columns

Index(['RoomType', 'Month', 'NumberOfRooms', 'Bar', 'Food', 'Rooms', 'Total'], dtype='object')

In [84]:
actuals.columns

Index(['RoomType', 'Month', 'Reservations', 'DaysStayed', 'Room', 'Food',
       'Beverage', 'Total'],
      dtype='object')

In [89]:
merged = plans.merge(actuals,on=["RoomType","Month"],how="left",suffixes=("_Plan", "_Actual"))
merged

,RoomType,Month,NumberOfRooms,Bar_Plan,Food_Plan,Room_Plan,Total_Plan,Reservations,DaysStayed,Room_Actual,Food_Actual,Bar_Actual,Total_Actual
0,Club Deluxe King Room,4,28.0,30912.0,77280.0,257600.0,365792.0,172,638,255200,25222,34999,315421
1,Club Deluxe King Room,8,28.0,42336.0,105840.0,352800.0,500976.0,186,794,357300,108673,42766,508739
2,Club Deluxe King Room,12,28.0,31276.0,78204.0,260680.0,370160.0,178,509,249410,61483,25306,336199
3,Club Deluxe King Room,2,28.0,30240.0,75600.0,252000.0,357840.0,181,545,245250,32164,26281,303695
4,Club Deluxe King Room,1,28.0,25704.0,64260.0,214200.0,304164.0,135,456,205200,30271,21888,257359
5,Club Deluxe King Room,7,28.0,42336.0,105840.0,352800.0,500976.0,179,785,353250,118192,48908,520350
6,Club Deluxe King Room,6,28.0,27216.0,68040.0,226800.0,322056.0,106,468,210600,6738,21657,238995
7,Club Deluxe King Room,3,28.0,37632.0,94080.0,313600.0,445312.0,235,727,290800,41080,41386,373266
8,Club Deluxe King Room,5,28.0,33600.0,84000.0,280000.0,397600.0,169,720,288000,16293,31365,335658
9,Club Deluxe King Room,11,28.0,30240.0,75600.0,252000.0,357840.0,190,560,252000,72942,28028,352970
10,Club Deluxe King Room,10,28.0,34776.0,86940.0,289800.0,411516.0,170,637,286650,86600,33078,406328
11,Club Deluxe King Room,9,28.0,28224.0,70560.0,235200.0,333984.0,141,569,227600,69920,24745,322265
12,Executive Suite,4,36.0,29160.0,72900.0,243000.0,345060.0,262,1003,250750,105824,42033,398607
13,Executive Suite,8,36.0,32400.0,81000.0,270000.0,383400.0,148,845,253500,59885,25777,339162
14,Executive Suite,12,36.0,31356.0,78408.0,261360.0,371124.0,231,830,273900,92230,35451,401581
15,Executive Suite,2,36.0,27216.0,68040.0,226800.0,322056.0,186,736,220800,63158,26622,310580
16,Executive Suite,1,36.0,32400.0,81000.0,270000.0,383400.0,323,962,288600,105237,44426,438263
17,Executive Suite,7,36.0,32400.0,81000.0,270000.0,383400.0,171,956,286800,82936,33687,403423
18,Executive Suite,6,36.0,15552.0,38880.0,129600.0,184032.0,72,460,138000,33472,13055,184527
19,Executive Suite,3,36.0,24840.0,62100.0,207000.0,293940.0,193,876,219000,65009,25375,309384
20,Executive Suite,5,36.0,30240.0,75600.0,252000.0,357840.0,237,976,244000,79773,32339,356112
21,Executive Suite,11,36.0,25920.0,64800.0,216000.0,306720.0,170,709,212700,63904,23728,300332
22,Executive Suite,10,36.0,36288.0,90720.0,302400.0,429408.0,259,1006,301800,96709,41267,439776
23,Executive Suite,9,36.0,19440.0,48600.0,162000.0,230040.0,119,634,158500,40669,16208,215377
24,King Suite,4,44.0,16148.0,40392.0,134640.0,191180.0,211,799,135830,31421,12905,180156
25,King Suite,8,44.0,16896.0,42240.0,140800.0,199936.0,219,267,53400,2761,1161,57322
26,King Suite,12,44.0,29040.0,72600.0,242000.0,343640.0,152,204,44880,2682,1110,48672
27,King Suite,2,44.0,23232.0,58080.0,193600.0,274912.0,439,1099,219800,83077,31640,334517
28,King Suite,1,44.0,29568.0,73920.0,246400.0,349888.0,633,1332,266400,121782,48043,436225
29,King Suite,7,44.0,16896.0,42240.0,140800.0,199936.0,224,303,60600,4169,1739,66508
30,King Suite,6,44.0,15840.0,39600.0,132000.0,187440.0,76,523,104600,24286,10459,139345
31,King Suite,3,44.0,19756.0,49368.0,164560.0,233684.0,329,1020,173400,45926,18805,238131
32,King Suite,5,44.0,14344.0,35904.0,119680.0,169928.0,147,686,116620,18872,7772,143264
33,King Suite,11,44.0,19008.0,47520.0,158400.0,224928.0,128,180,36000,1867,731,38598
34,King Suite,10,44.0,16896.0,42240.0,140800.0,199936.0,105,182,36400,1564,627,38591
35,King Suite,9,44.0,13464.0,33660.0,112200.0,159324.0,210,244,41480,3034,1122,45636
36,One-Bedroom Club Room,4,10.0,13100.0,32760.0,109200.0,155060.0,44,167,86840,7098,8567,102505
37,One-Bedroom Club Room,8,10.0,20160.0,50400.0,168000.0,238560.0,70,283,169800,56667,22717,249184
38,One-Bedroom Club Room,12,10.0,13440.0,33600.0,112000.0,159040.0,37,137,95900,18772,7550,122222
39,One-Bedroom Club Room,2,10.0,12240.0,30600.0,102000.0,144840.0,53,173,103800,10501,10951,125252
40,One-Bedroom Club Room,1,10.0,12240.0,30600.0,102000.0,144840.0,60,177,106200,14138,10025,130363
41,One-Bedroom Club Room,7,10.0,18000.0,45000.0,150000.0,213000.0,69,283,169800,68660,22589,261049
42,One-Bedroom Club Room,6,10.0,14400.0,36000.0,120000.0,170400.0,40,186,111600,3614,12917,128131
43,One-Bedroom Club Room,3,10.0,12480.0,31200.0,104000.0,147680.0,48,174,90480,7793,8590,106863
44,One-Bedroom Club Room,5,10.0,14350.0,35880.0,119600.0,169830.0,54,216,112320,6082,11352,129754
45,One-Bedroom Club Room,11,10.0,10800.0,27000.0,90000.0,127800.0,36,114,68400,13064,5524,86988
46,One-Bedroom Club Room,10,10.0,14400.0,36000.0,120000.0,170400.0,45,185,111000,22522,8666,142188
47,One-Bedroom Club Room,9,10.0,13100.0,32760.0,109200.0,155060.0,48,195,101400,28379,12404,142183
48,One-Bedroom Suite,4,6.0,7560.0,18900.0,63000.0,89460.0,18,62,43400,2086,2399,47885
49,One-Bedroom Suite,8,6.0,14400.0,36000.0,120000.0,170400.0,55,179,143200,52523,16605,212328
50,One-Bedroom Suite,12,6.0,12312.0,30780.0,102600.0,145692.0,47,99,89100,21078,8640,118818
51,One-Bedroom Suite,2,6.0,8064.0,20160.0,67200.0,95424.0,33,85,68000,5883,4258,78141
52,One-Bedroom Suite,1,6.0,9216.0,23040.0,76800.0,109056.0,40,93,74400,9343,7296,91039
53,One-Bedroom Suite,7,6.0,14400.0,36000.0,120000.0,170400.0,32,141,112800,31745,12418,156963
54,One-Bedroom Suite,6,6.0,10368.0,25920.0,86400.0,122688.0,25,94,75200,2180,6213,83593
55,One-Bedroom Suite,3,6.0,8064.0,20160.0,67200.0,95424.0,31,86,60200,4292,4386,68878
56,One-Bedroom Suite,5,6.0,12600.0,31500.0,105000.0,149100.0,54,143,100100,5812,12102,118014
57,One-Bedroom Suite,11,6.0,10368.0,25920.0,86400.0,122688.0,52,107,85600,27953,10348,123901
58,One-Bedroom Suite,10,6.0,12672.0,31680.0,105600.0,149952.0,38,123,98400,21407,9826,129633
59,One-Bedroom Suite,9,6.0,12096.0,30240.0,100800.0,143136.0,44,133,93100,31039,10396,134535
60,Superior King Room,4,76.0,28424.0,71136.0,237120.0,336680.0,527,1893,246090,86019,33039,365148
61,Superior King Room,8,76.0,31464.0,78660.0,262200.0,372324.0,351,1740,261000,59086,24407,344493
62,Superior King Room,12,76.0,34124.0,85272.0,284240.0,403636.0,532,1630,277100,81952,34632,393684
63,Superior King Room,2,76.0,30096.0,75240.0,250800.0,356136.0,592,1779,266850,84659,33710,385219
64,Superior King Room,1,76.0,25992.0,64980.0,216600.0,307572.0,464,1385,207750,51050,21338,280138
65,Superior King Room,7,76.0,30096.0,75240.0,250800.0,356136.0,319,1649,247350,59325,24482,331157
66,Superior King Room,6,76.0,24624.0,61560.0,205200.0,291384.0,265,1268,190200,58046,20842,269088
67,Superior King Room,3,76.0,27284.0,68172.0,227240.0,322696.0,463,1825,237250,70070,26603,333923
68,Superior King Room,5,76.0,27284.0,68172.0,227240.0,322696.0,455,1778,231140,62810,24075,318025
69,Superior King Room,11,76.0,24624.0,61560.0,205200.0,291384.0,358,1369,205350,52867,21795,280012
70,Superior King Room,10,76.0,38304.0,95760.0,319200.0,453264.0,666,2219,332850,126851,51164,510865
71,Superior King Room,9,76.0,17784.0,44460.0,148200.0,210444.0,235,1204,156520,34636,13069,204225

# Step 7 - format dataframe

In [90]:
merged.columns

Index(['RoomType', 'Month', 'NumberOfRooms', 'Bar_Plan', 'Food_Plan',
       'Room_Plan', 'Total_Plan', 'Reservations', 'DaysStayed', 'Room_Actual',
       'Food_Actual', 'Bar_Actual', 'Total_Actual'],
      dtype='object')

In [94]:
columns_reordered = ['Month', 'RoomType',
                     'NumberOfRooms', 'Reservations', 'DaysStayed', 
                     'Bar_Plan', 'Bar_Actual', 
                     'Food_Plan', 'Food_Actual',
                     'Room_Plan', 'Room_Actual',
                     'Total_Plan', 'Total_Actual']

In [95]:
merged = merged[columns_reordered]
merged

,Month,RoomType,NumberOfRooms,Reservations,DaysStayed,Bar_Plan,Bar_Actual,Food_Plan,Food_Actual,Room_Plan,Room_Actual,Total_Plan,Total_Actual
0,4,Club Deluxe King Room,28.0,172,638,30912.0,34999,77280.0,25222,257600.0,255200,365792.0,315421
1,8,Club Deluxe King Room,28.0,186,794,42336.0,42766,105840.0,108673,352800.0,357300,500976.0,508739
2,12,Club Deluxe King Room,28.0,178,509,31276.0,25306,78204.0,61483,260680.0,249410,370160.0,336199
3,2,Club Deluxe King Room,28.0,181,545,30240.0,26281,75600.0,32164,252000.0,245250,357840.0,303695
4,1,Club Deluxe King Room,28.0,135,456,25704.0,21888,64260.0,30271,214200.0,205200,304164.0,257359
5,7,Club Deluxe King Room,28.0,179,785,42336.0,48908,105840.0,118192,352800.0,353250,500976.0,520350
6,6,Club Deluxe King Room,28.0,106,468,27216.0,21657,68040.0,6738,226800.0,210600,322056.0,238995
7,3,Club Deluxe King Room,28.0,235,727,37632.0,41386,94080.0,41080,313600.0,290800,445312.0,373266
8,5,Club Deluxe King Room,28.0,169,720,33600.0,31365,84000.0,16293,280000.0,288000,397600.0,335658
9,11,Club Deluxe King Room,28.0,190,560,30240.0,28028,75600.0,72942,252000.0,252000,357840.0,352970
10,10,Club Deluxe King Room,28.0,170,637,34776.0,33078,86940.0,86600,289800.0,286650,411516.0,406328
11,9,Club Deluxe King Room,28.0,141,569,28224.0,24745,70560.0,69920,235200.0,227600,333984.0,322265
12,4,Executive Suite,36.0,262,1003,29160.0,42033,72900.0,105824,243000.0,250750,345060.0,398607
13,8,Executive Suite,36.0,148,845,32400.0,25777,81000.0,59885,270000.0,253500,383400.0,339162
14,12,Executive Suite,36.0,231,830,31356.0,35451,78408.0,92230,261360.0,273900,371124.0,401581
15,2,Executive Suite,36.0,186,736,27216.0,26622,68040.0,63158,226800.0,220800,322056.0,310580
16,1,Executive Suite,36.0,323,962,32400.0,44426,81000.0,105237,270000.0,288600,383400.0,438263
17,7,Executive Suite,36.0,171,956,32400.0,33687,81000.0,82936,270000.0,286800,383400.0,403423
18,6,Executive Suite,36.0,72,460,15552.0,13055,38880.0,33472,129600.0,138000,184032.0,184527
19,3,Executive Suite,36.0,193,876,24840.0,25375,62100.0,65009,207000.0,219000,293940.0,309384
20,5,Executive Suite,36.0,237,976,30240.0,32339,75600.0,79773,252000.0,244000,357840.0,356112
21,11,Executive Suite,36.0,170,709,25920.0,23728,64800.0,63904,216000.0,212700,306720.0,300332
22,10,Executive Suite,36.0,259,1006,36288.0,41267,90720.0,96709,302400.0,301800,429408.0,439776
23,9,Executive Suite,36.0,119,634,19440.0,16208,48600.0,40669,162000.0,158500,230040.0,215377
24,4,King Suite,44.0,211,799,16148.0,12905,40392.0,31421,134640.0,135830,191180.0,180156
25,8,King Suite,44.0,219,267,16896.0,1161,42240.0,2761,140800.0,53400,199936.0,57322
26,12,King Suite,44.0,152,204,29040.0,1110,72600.0,2682,242000.0,44880,343640.0,48672
27,2,King Suite,44.0,439,1099,23232.0,31640,58080.0,83077,193600.0,219800,274912.0,334517
28,1,King Suite,44.0,633,1332,29568.0,48043,73920.0,121782,246400.0,266400,349888.0,436225
29,7,King Suite,44.0,224,303,16896.0,1739,42240.0,4169,140800.0,60600,199936.0,66508
30,6,King Suite,44.0,76,523,15840.0,10459,39600.0,24286,132000.0,104600,187440.0,139345
31,3,King Suite,44.0,329,1020,19756.0,18805,49368.0,45926,164560.0,173400,233684.0,238131
32,5,King Suite,44.0,147,686,14344.0,7772,35904.0,18872,119680.0,116620,169928.0,143264
33,11,King Suite,44.0,128,180,19008.0,731,47520.0,1867,158400.0,36000,224928.0,38598
34,10,King Suite,44.0,105,182,16896.0,627,42240.0,1564,140800.0,36400,199936.0,38591
35,9,King Suite,44.0,210,244,13464.0,1122,33660.0,3034,112200.0,41480,159324.0,45636
36,4,One-Bedroom Club Room,10.0,44,167,13100.0,8567,32760.0,7098,109200.0,86840,155060.0,102505
37,8,One-Bedroom Club Room,10.0,70,283,20160.0,22717,50400.0,56667,168000.0,169800,238560.0,249184
38,12,One-Bedroom Club Room,10.0,37,137,13440.0,7550,33600.0,18772,112000.0,95900,159040.0,122222
39,2,One-Bedroom Club Room,10.0,53,173,12240.0,10951,30600.0,10501,102000.0,103800,144840.0,125252
40,1,One-Bedroom Club Room,10.0,60,177,12240.0,10025,30600.0,14138,102000.0,106200,144840.0,130363
41,7,One-Bedroom Club Room,10.0,69,283,18000.0,22589,45000.0,68660,150000.0,169800,213000.0,261049
42,6,One-Bedroom Club Room,10.0,40,186,14400.0,12917,36000.0,3614,120000.0,111600,170400.0,128131
43,3,One-Bedroom Club Room,10.0,48,174,12480.0,8590,31200.0,7793,104000.0,90480,147680.0,106863
44,5,One-Bedroom Club Room,10.0,54,216,14350.0,11352,35880.0,6082,119600.0,112320,169830.0,129754
45,11,One-Bedroom Club Room,10.0,36,114,10800.0,5524,27000.0,13064,90000.0,68400,127800.0,86988
46,10,One-Bedroom Club Room,10.0,45,185,14400.0,8666,36000.0,22522,120000.0,111000,170400.0,142188
47,9,One-Bedroom Club Room,10.0,48,195,13100.0,12404,32760.0,28379,109200.0,101400,155060.0,142183
48,4,One-Bedroom Suite,6.0,18,62,7560.0,2399,18900.0,2086,63000.0,43400,89460.0,47885
49,8,One-Bedroom Suite,6.0,55,179,14400.0,16605,36000.0,52523,120000.0,143200,170400.0,212328
50,12,One-Bedroom Suite,6.0,47,99,12312.0,8640,30780.0,21078,102600.0,89100,145692.0,118818
51,2,One-Bedroom Suite,6.0,33,85,8064.0,4258,20160.0,5883,67200.0,68000,95424.0,78141
52,1,One-Bedroom Suite,6.0,40,93,9216.0,7296,23040.0,9343,76800.0,74400,109056.0,91039
53,7,One-Bedroom Suite,6.0,32,141,14400.0,12418,36000.0,31745,120000.0,112800,170400.0,156963
54,6,One-Bedroom Suite,6.0,25,94,10368.0,6213,25920.0,2180,86400.0,75200,122688.0,83593
55,3,One-Bedroom Suite,6.0,31,86,8064.0,4386,20160.0,4292,67200.0,60200,95424.0,68878
56,5,One-Bedroom Suite,6.0,54,143,12600.0,12102,31500.0,5812,105000.0,100100,149100.0,118014
57,11,One-Bedroom Suite,6.0,52,107,10368.0,10348,25920.0,27953,86400.0,85600,122688.0,123901
58,10,One-Bedroom Suite,6.0,38,123,12672.0,9826,31680.0,21407,105600.0,98400,149952.0,129633
59,9,One-Bedroom Suite,6.0,44,133,12096.0,10396,30240.0,31039,100800.0,93100,143136.0,134535
60,4,Superior King Room,76.0,527,1893,28424.0,33039,71136.0,86019,237120.0,246090,336680.0,365148
61,8,Superior King Room,76.0,351,1740,31464.0,24407,78660.0,59086,262200.0,261000,372324.0,344493
62,12,Superior King Room,76.0,532,1630,34124.0,34632,85272.0,81952,284240.0,277100,403636.0,393684
63,2,Superior King Room,76.0,592,1779,30096.0,33710,75240.0,84659,250800.0,266850,356136.0,385219
64,1,Superior King Room,76.0,464,1385,25992.0,21338,64980.0,51050,216600.0,207750,307572.0,280138
65,7,Superior King Room,76.0,319,1649,30096.0,24482,75240.0,59325,250800.0,247350,356136.0,331157
66,6,Superior King Room,76.0,265,1268,24624.0,20842,61560.0,58046,205200.0,190200,291384.0,269088
67,3,Superior King Room,76.0,463,1825,27284.0,26603,68172.0,70070,227240.0,237250,322696.0,333923
68,5,Superior King Room,76.0,455,1778,27284.0,24075,68172.0,62810,227240.0,231140,322696.0,318025
69,11,Superior King Room,76.0,358,1369,24624.0,21795,61560.0,52867,205200.0,205350,291384.0,280012
70,10,Superior King Room,76.0,666,2219,38304.0,51164,95760.0,126851,319200.0,332850,453264.0,510865
71,9,Superior King Room,76.0,235,1204,17784.0,13069,44460.0,34636,148200.0,156520,210444.0,204225

In [101]:
merged.sort_values(["Month","RoomType"],inplace=True)
merged

,Month,RoomType,NumberOfRooms,Reservations,DaysStayed,Bar_Plan,Bar_Actual,Food_Plan,Food_Actual,Room_Plan,Room_Actual,Total_Plan,Total_Actual
4,1,Club Deluxe King Room,28.0,135,456,25704.0,21888,64260.0,30271,214200.0,205200,304164.0,257359
16,1,Executive Suite,36.0,323,962,32400.0,44426,81000.0,105237,270000.0,288600,383400.0,438263
28,1,King Suite,44.0,633,1332,29568.0,48043,73920.0,121782,246400.0,266400,349888.0,436225
40,1,One-Bedroom Club Room,10.0,60,177,12240.0,10025,30600.0,14138,102000.0,106200,144840.0,130363
52,1,One-Bedroom Suite,6.0,40,93,9216.0,7296,23040.0,9343,76800.0,74400,109056.0,91039
64,1,Superior King Room,76.0,464,1385,25992.0,21338,64980.0,51050,216600.0,207750,307572.0,280138
3,2,Club Deluxe King Room,28.0,181,545,30240.0,26281,75600.0,32164,252000.0,245250,357840.0,303695
15,2,Executive Suite,36.0,186,736,27216.0,26622,68040.0,63158,226800.0,220800,322056.0,310580
27,2,King Suite,44.0,439,1099,23232.0,31640,58080.0,83077,193600.0,219800,274912.0,334517
39,2,One-Bedroom Club Room,10.0,53,173,12240.0,10951,30600.0,10501,102000.0,103800,144840.0,125252
51,2,One-Bedroom Suite,6.0,33,85,8064.0,4258,20160.0,5883,67200.0,68000,95424.0,78141
63,2,Superior King Room,76.0,592,1779,30096.0,33710,75240.0,84659,250800.0,266850,356136.0,385219
7,3,Club Deluxe King Room,28.0,235,727,37632.0,41386,94080.0,41080,313600.0,290800,445312.0,373266
19,3,Executive Suite,36.0,193,876,24840.0,25375,62100.0,65009,207000.0,219000,293940.0,309384
31,3,King Suite,44.0,329,1020,19756.0,18805,49368.0,45926,164560.0,173400,233684.0,238131
43,3,One-Bedroom Club Room,10.0,48,174,12480.0,8590,31200.0,7793,104000.0,90480,147680.0,106863
55,3,One-Bedroom Suite,6.0,31,86,8064.0,4386,20160.0,4292,67200.0,60200,95424.0,68878
67,3,Superior King Room,76.0,463,1825,27284.0,26603,68172.0,70070,227240.0,237250,322696.0,333923
0,4,Club Deluxe King Room,28.0,172,638,30912.0,34999,77280.0,25222,257600.0,255200,365792.0,315421
12,4,Executive Suite,36.0,262,1003,29160.0,42033,72900.0,105824,243000.0,250750,345060.0,398607
24,4,King Suite,44.0,211,799,16148.0,12905,40392.0,31421,134640.0,135830,191180.0,180156
36,4,One-Bedroom Club Room,10.0,44,167,13100.0,8567,32760.0,7098,109200.0,86840,155060.0,102505
48,4,One-Bedroom Suite,6.0,18,62,7560.0,2399,18900.0,2086,63000.0,43400,89460.0,47885
60,4,Superior King Room,76.0,527,1893,28424.0,33039,71136.0,86019,237120.0,246090,336680.0,365148
8,5,Club Deluxe King Room,28.0,169,720,33600.0,31365,84000.0,16293,280000.0,288000,397600.0,335658
20,5,Executive Suite,36.0,237,976,30240.0,32339,75600.0,79773,252000.0,244000,357840.0,356112
32,5,King Suite,44.0,147,686,14344.0,7772,35904.0,18872,119680.0,116620,169928.0,143264
44,5,One-Bedroom Club Room,10.0,54,216,14350.0,11352,35880.0,6082,119600.0,112320,169830.0,129754
56,5,One-Bedroom Suite,6.0,54,143,12600.0,12102,31500.0,5812,105000.0,100100,149100.0,118014
68,5,Superior King Room,76.0,455,1778,27284.0,24075,68172.0,62810,227240.0,231140,322696.0,318025
6,6,Club Deluxe King Room,28.0,106,468,27216.0,21657,68040.0,6738,226800.0,210600,322056.0,238995
18,6,Executive Suite,36.0,72,460,15552.0,13055,38880.0,33472,129600.0,138000,184032.0,184527
30,6,King Suite,44.0,76,523,15840.0,10459,39600.0,24286,132000.0,104600,187440.0,139345
42,6,One-Bedroom Club Room,10.0,40,186,14400.0,12917,36000.0,3614,120000.0,111600,170400.0,128131
54,6,One-Bedroom Suite,6.0,25,94,10368.0,6213,25920.0,2180,86400.0,75200,122688.0,83593
66,6,Superior King Room,76.0,265,1268,24624.0,20842,61560.0,58046,205200.0,190200,291384.0,269088
5,7,Club Deluxe King Room,28.0,179,785,42336.0,48908,105840.0,118192,352800.0,353250,500976.0,520350
17,7,Executive Suite,36.0,171,956,32400.0,33687,81000.0,82936,270000.0,286800,383400.0,403423
29,7,King Suite,44.0,224,303,16896.0,1739,42240.0,4169,140800.0,60600,199936.0,66508
41,7,One-Bedroom Club Room,10.0,69,283,18000.0,22589,45000.0,68660,150000.0,169800,213000.0,261049
53,7,One-Bedroom Suite,6.0,32,141,14400.0,12418,36000.0,31745,120000.0,112800,170400.0,156963
65,7,Superior King Room,76.0,319,1649,30096.0,24482,75240.0,59325,250800.0,247350,356136.0,331157
1,8,Club Deluxe King Room,28.0,186,794,42336.0,42766,105840.0,108673,352800.0,357300,500976.0,508739
13,8,Executive Suite,36.0,148,845,32400.0,25777,81000.0,59885,270000.0,253500,383400.0,339162
25,8,King Suite,44.0,219,267,16896.0,1161,42240.0,2761,140800.0,53400,199936.0,57322
37,8,One-Bedroom Club Room,10.0,70,283,20160.0,22717,50400.0,56667,168000.0,169800,238560.0,249184
49,8,One-Bedroom Suite,6.0,55,179,14400.0,16605,36000.0,52523,120000.0,143200,170400.0,212328
61,8,Superior King Room,76.0,351,1740,31464.0,24407,78660.0,59086,262200.0,261000,372324.0,344493
11,9,Club Deluxe King Room,28.0,141,569,28224.0,24745,70560.0,69920,235200.0,227600,333984.0,322265
23,9,Executive Suite,36.0,119,634,19440.0,16208,48600.0,40669,162000.0,158500,230040.0,215377
35,9,King Suite,44.0,210,244,13464.0,1122,33660.0,3034,112200.0,41480,159324.0,45636
47,9,One-Bedroom Club Room,10.0,48,195,13100.0,12404,32760.0,28379,109200.0,101400,155060.0,142183
59,9,One-Bedroom Suite,6.0,44,133,12096.0,10396,30240.0,31039,100800.0,93100,143136.0,134535
71,9,Superior King Room,76.0,235,1204,17784.0,13069,44460.0,34636,148200.0,156520,210444.0,204225
10,10,Club Deluxe King Room,28.0,170,637,34776.0,33078,86940.0,86600,289800.0,286650,411516.0,406328
22,10,Executive Suite,36.0,259,1006,36288.0,41267,90720.0,96709,302400.0,301800,429408.0,439776
34,10,King Suite,44.0,105,182,16896.0,627,42240.0,1564,140800.0,36400,199936.0,38591
46,10,One-Bedroom Club Room,10.0,45,185,14400.0,8666,36000.0,22522,120000.0,111000,170400.0,142188
58,10,One-Bedroom Suite,6.0,38,123,12672.0,9826,31680.0,21407,105600.0,98400,149952.0,129633
70,10,Superior King Room,76.0,666,2219,38304.0,51164,95760.0,126851,319200.0,332850,453264.0,510865
9,11,Club Deluxe King Room,28.0,190,560,30240.0,28028,75600.0,72942,252000.0,252000,357840.0,352970
21,11,Executive Suite,36.0,170,709,25920.0,23728,64800.0,63904,216000.0,212700,306720.0,300332
33,11,King Suite,44.0,128,180,19008.0,731,47520.0,1867,158400.0,36000,224928.0,38598
45,11,One-Bedroom Club Room,10.0,36,114,10800.0,5524,27000.0,13064,90000.0,68400,127800.0,86988
57,11,One-Bedroom Suite,6.0,52,107,10368.0,10348,25920.0,27953,86400.0,85600,122688.0,123901
69,11,Superior King Room,76.0,358,1369,24624.0,21795,61560.0,52867,205200.0,205350,291384.0,280012
2,12,Club Deluxe King Room,28.0,178,509,31276.0,25306,78204.0,61483,260680.0,249410,370160.0,336199
14,12,Executive Suite,36.0,231,830,31356.0,35451,78408.0,92230,261360.0,273900,371124.0,401581
26,12,King Suite,44.0,152,204,29040.0,1110,72600.0,2682,242000.0,44880,343640.0,48672
38,12,One-Bedroom Club Room,10.0,37,137,13440.0,7550,33600.0,18772,112000.0,95900,159040.0,122222
50,12,One-Bedroom Suite,6.0,47,99,12312.0,8640,30780.0,21078,102600.0,89100,145692.0,118818
62,12,Superior King Room,76.0,532,1630,34124.0,34632,85272.0,81952,284240.0,277100,403636.0,393684

# Step 8 - export merged dataframe to Merged.xlsx

In [102]:
merged.to_excel("Merged.xlsx")